# PANDAS by Wes McKinney
# Installing Pandas
  --> pip install pandas

In [2]:
# importing pandas package as pd
import pandas as pd

In [13]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# path to the brics data csv file
path_brics = "./data/pandas/brics.csv"

In [4]:
# creating a dataframe from base data mentioned above

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country': names, 'drives_right':dr, 'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

   cars_per_cap        country  drives_right
0           809  United States          True
1           731      Australia         False
2           588          Japan         False
3            18          India         False
4           200         Russia          True
5            70        Morocco          True
6            45          Egypt          True

In [7]:
# adding row labels

dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(dict)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [16]:
cars = pd.read_csv(path_brics)

# Print out cars
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [17]:
# Fix import by including index_col
cars = pd.read_csv(path_brics, index_col=0)

# Print out cars
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

# INDEX & SELECT Data from DataFrame

# Column Access

In [25]:
brics = pd.read_csv(path_brics, index_col=0)

# Using single rectangular brackets
print(brics["country"])
print(type(brics["country"]))

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
<class 'pandas.core.series.Series'>

In [24]:
# Using double rectangular brackets
print(brics[["country"]])
print(type(brics[["country"]]))

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
<class 'pandas.core.frame.DataFrame'>

In [28]:
# Using double rectangular brackets
print(brics[["country", "drives_right"]])
print(type(brics[["country", "drives_right"]]))

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True
<class 'pandas.core.frame.DataFrame'>

# Row Access : We can achieve this using slice

In [40]:
brics[1:4]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
JAP           588      Japan         False
IN             18      India         False

# PANDAS LOC & iLOC Functionality