# PANDAS by Wes McKinney
# Installing Pandas
  --> pip install pandas

In [2]:
# importing pandas package as pd
import pandas as pd

In [41]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# path to the brics data csv file
path_brics = "./data/pandas/brics.csv"
path_cars = "./data/pandas/cars.csv"

In [42]:
# creating a dataframe from base data mentioned above

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country': names, 'drives_right':dr, 'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

   cars_per_cap        country  drives_right
0           809  United States          True
1           731      Australia         False
2           588          Japan         False
3            18          India         False
4           200         Russia          True
5            70        Morocco          True
6            45          Egypt          True

In [43]:
# adding row labels

dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(dict)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [45]:
cars = pd.read_csv(path_cars)

# Print out cars
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [46]:
# Fix import by including index_col
cars = pd.read_csv(path_cars, index_col=0)

# Print out cars
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

# INDEX & SELECT Data from DataFrame

# Column Access

In [47]:
brics = pd.read_csv(path_brics, index_col=0)

# Using single rectangular brackets
print(brics["country"])
print(type(brics["country"]))

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object
<class 'pandas.core.series.Series'>

In [48]:
# Using double rectangular brackets
print(brics[["country"]])
print(type(brics[["country"]]))

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa
<class 'pandas.core.frame.DataFrame'>

In [49]:
# Using double rectangular brackets
print(brics[["country", "capital"]])
print(type(brics[["country", "capital"]]))

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria
<class 'pandas.core.frame.DataFrame'>

# Row Access : We can achieve this using slice

In [50]:
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

# PANDAS LOC & iLOC Functionality
    --> LOC is used to get data using column and row labels
    --> iLOC is used to get data using column and row indexes

# Accessing data using loc

In [58]:
# Using single rectangular brackets
data = brics.loc["BR"]
print(data)
print(type(data))

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
<class 'pandas.core.series.Series'>

In [56]:
# Using double rectangular brackets
data = brics.loc[["BR"]]
print(data)
print(type(data))

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
<class 'pandas.core.frame.DataFrame'>

In [60]:
# Selecting numerous rows

data = brics.loc[["BR", "IN", "SA"]]
print(data)
print(type(data))

         country    capital   area  population
BR        Brazil   Brasilia  8.516      200.40
IN         India  New Delhi  3.286     1252.00
SA  South Africa   Pretoria  1.221       52.98
<class 'pandas.core.frame.DataFrame'>

In [63]:
# Row & Column Loc

data = brics.loc[["BR", "IN", "SA"], ["country", "capital"]]
print(data)
print(type(data))

         country    capital
BR        Brazil   Brasilia
IN         India  New Delhi
SA  South Africa   Pretoria
<class 'pandas.core.frame.DataFrame'>

In [64]:
# Get all rows and specific columns

data = brics.loc[:, ["country", "capital"]]
print(data)
print(type(data))

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria
<class 'pandas.core.frame.DataFrame'>

# Accessing data using iLoc

In [66]:
data = brics.iloc[[1]]
print(data)
print(type(data))

   country capital  area  population
RU  Russia  Moscow  17.1       143.5
<class 'pandas.core.frame.DataFrame'>

In [67]:
data = brics.iloc[[1,2,3]]
print(data)
print(type(data))

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0
<class 'pandas.core.frame.DataFrame'>

In [71]:
data = brics.iloc[[1,2,3],[0,1]]
print(data)
print(type(data))

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing
<class 'pandas.core.frame.DataFrame'>

In [72]:
data = brics.iloc[:,[0,1]]
print(data)
print(type(data))

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria
<class 'pandas.core.frame.DataFrame'>

## EXERCISES

In [81]:
# Use single square brackets to print out the country column of cars as a Pandas Series.
print(cars['country'])

# Use double square brackets to print out the country column of cars as a Pandas DataFrame.
print(cars[['country']])

# Use double square brackets to print out a DataFrame with both the country and drives_right columns of cars, in this order.
print(cars[['country','drives_right']])

# Select the first 3 observations from cars and print them out.
print(cars[0:3])

# Select the fourth, fifth and sixth observation, corresponding to row indexes 3, 4 and 5, and print them out.
print(cars[3:6])

# Use loc or iloc to select the observation corresponding to Japan as a Series. The label of this row is JAP, the index is 2. Make sure to print the resulting Series.
print(cars.loc[["JAP"]])

#Use loc or iloc to select the observations for Australia and Egypt as a DataFrame. You can find out about the labels/indexes of these rows by inspecting cars in the IPython Shell. Make sure to print the resulting DataFrame.
print(cars.loc[["AUS", "EG"]])

# Print out the drives_right value of the row corresponding to Morocco (its row label is MOR)
print(cars.loc["MOR"])

# Print out a sub-DataFrame, containing the observations for Russia and Morocco and the columns country and drives_right.
print(cars.loc[["RU", "MOR"], ["country", "drives_right"]])

# Print out the drives_right column as a Series using loc or iloc.
#print(cars.iloc[:,2])
print(cars.loc[:, ["drives_right"]])

# Print out the drives_right column as a DataFrame using loc or iloc.
print(cars.loc[:,["drives_right"]])

# Print out both the cars_per_cap and drives_right column as a DataFrame using loc or iloc.
print(cars.loc[:, ["cars_per_cap", "drives_right"]])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True
     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True
     cars_per_cap country  drives_right
JAP           588   Japan         False
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
     country  drives_right
RU    Russia          True
MOR  Morocco          True
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True