<a id='home'></a>

# PYTHON

Sections
<ol>
<li>[Python as a calculator](#calculator)</li>
<li>[Variables and Types](#variables)</li>
<li>[Python Lists](#pythonlists)</li>
<li>[Subsetting Lists](#index_slice)</li>
<li>[List Manipulation](#list_manu)</li>
<li>[Functions](#functions)</li>
<li>[Methods](#methods)</li>
<li>[Packages](#packages)</li>
<li>[Dictionaries](#dict)</li>
<li>[Comparison Operators](#comp_oper)</li>
<li>[Boolean Operators](#bool_oper)</li>
<li>[Conditional Statements](#cond_stat)</li>
<li>[Loops](#loops)</li>
<li>[Case Study](#case_study)</li>
<li>[User-Defined Functions](#cust_func)</li>
<li>[Scope and user-defined functions](#scope_of_func)</li>
<li>[Nested Functions](#nested_func)</li>
<li>[Default & Flexible arguments](#arguments)</li>
<li>[Lambda Functions](#lambda_func)</li>
<li>[Map Lambda Functions](#map_lambda_func)</li>
<li>[Filter Lambda Functions](#filter_lambda_func)</li>
<li>[Reduce Lambda Functions](#reduce_lambda_func)</li>
<li>[Error Handling (using try except & using raise)](#error_handling)</li>
<li>[Iterators](#iterators)</li>
<li>[Enumerate](#enumerate)</li>
<li>[Zip](#zip)</li>
<li>[Load large files into memory](#load_large_files)</li>
</ol>

PYTHON AS A CALCULATOR<a id = 'calculator'></a>

In [3]:
print(5/8)

# we can add comments using the hash symbol(#) at the start of the line
print(7+10)

# Addition and subtraction
print(5 + 5)
print(5 - 5)

# Multiplication and division
print(3 * 5)
print(10 / 2)

# Exponentiation
print(4 ** 2)

# Modulo
print(18 % 7)

# How much is your $100 worth after 7 years?
print(100*1.1**7)

0
17
10
0
15
5
16
4
194.87171

VARIABLES AND TYPES<a id='variables'></a>

In [13]:
# Create a variable savings
savings = 100

# Create a variable factor
factor = 1.10

# Calculate result
result = savings*factor**7

# Print out result
print(result)

Ex-1
194.87171

In [14]:
#Operations with other types
# Create a variable desc
desc = "compound interest"

# Several variables to experiment with
savings = 100
factor = 1.1

# Assign product of factor and savings to year1
year1 = factor*savings

# Print the type of year1
print(type(year1))

# Assign sum of desc and desc to doubledesc
doubledesc = desc + desc

# Print out doubledesc
print(doubledesc)

Ex-2
<type 'float'>
compound interestcompound interest

In [16]:
# Type Conversion
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float(pi_string)

I started with $100 and now have $194.87171. Awesome!

<a id = 'pythonlists'></a>[Go Home](#home)

PYTHON LISTS

In [18]:
# Creating a list
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [19]:
# Create list with different types
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [20]:
# List of lists
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<type 'list'>

SUBSETTING LISTS[indexing & slicing]<a id = 'index_slice'></a>

In [24]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3] + areas[-3]

# Print the variable eat_sleep_area
print(eat_sleep_area)

11.25
9.5
20.0
28.75

In [28]:
# Slicing & Dicing
# First way to slice 
# Use slicing to create downstairs
downstairs = areas[0:6]

# Use slicing to create upstairs
upstairs = areas[6:12]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

# Alternative way
# Alternative slicing to create downstairs
downstairs = areas[:6]

# Alternative slicing to create upstairs
upstairs = areas[6:]

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

LIST MANIPULATION<a id='list_manu'></a>

In [29]:
# Replace list elements
# Correct the bathroom area
areas[-1] = 10.50

# Change "living room" to "chill zone"
areas[4] = "chill zone"
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [32]:
# Extend a list
# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]
print(areas_1)
# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [35]:
# Delete list elements
del(areas[-4:-2])
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bathroom', 10.5]

In [36]:
# Inner workings of lists
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = list(areas)

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

FUNCTIONS<a id='functions'></a>

In [37]:
# Familiar functions
# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

# Print out type of var1
print(type(var1))

# Print out length of var1
print(len(var1))

# Convert var2 to an integer: out2
out2 = int(var2)

<type 'list'>
4

In [39]:
# Functions with multiple arguments
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first+second

# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse = True)

# Print out full_sorted
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]

METHODS<a id='methods'></a>

# Functions specific to Python Objects such as integer, string, list, etc; are called Methods
# Functions are called with the input as object type, where as the methods are called using the 'dot' operator

In [41]:
# String Methods
# string to experiment with: room
room = "poolhouse"

# Use upper() on room: room_up
room_up = room.upper()

# Print out room and room_up
print(room)
print(room_up)

# Print out the number of o's in room
print(room.count('o'))

poolhouse
POOLHOUSE
3

In [45]:
# List Methods-1
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 9.50 appears in areas
print(areas.count(9.50))

2
1

In [46]:
# List Methods-2
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

PACKAGES<a id = 'packages'></a>

# PACKAGES: Directory of python scripts
# All the 3rd party packages can be installed using pip(python's package manager)

In [54]:
# Different ways of importing
import math
print(math.pi)

from math import radians
print(radians(12))

from math import radians as rad
print(rad(24))

3.14159265359
0.209439510239
0.418879020479

In [48]:
# Import the math package
import math

# Definition of radius
r = 0.43

# Calculate C
C = math.pi*2*r

# Calculate A
A = math.pi*r**2

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.70176968209
Area: 0.580880481649

In [49]:
# Import radians function of math package
from math import radians

# Definition of radius
r = 192500

# Travel distance of Moon over 12 degrees. Store in dist.
dist = r*radians(12)

# Print out dist
print(dist)

40317.1057211

DICTIONARIES<a id='dict'></a>

In [60]:
# Initiate the basic data before starting with the code
# Basic Data for Dictionaries
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

In [4]:
# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

In [16]:
# Creating a dictionary

# From string in countries and capitals, create dictionary europe
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'australia':'vienna'}

# Print europe
print(europe)

{'norway': 'oslo', 'australia': 'vienna', 'germany': 'bonn', 'spain': 'madrid', 'france': 'paris'}

In [7]:
# Accessing a dictionary

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

['norway', 'germany', 'spain', 'france']
oslo

In [17]:
# Dictionary Manipulation

# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland'] = 'warsaw'

# Print europe
print(europe)

True
{'australia': 'vienna', 'italy': 'rome', 'poland': 'warsaw', 'france': 'paris', 'germany': 'bonn', 'norway': 'oslo', 'spain': 'madrid'}

In [18]:
# Update capital of germany
europe['germany'] = 'berlin'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

{'italy': 'rome', 'poland': 'warsaw', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'spain': 'madrid'}

In [20]:
# Dictionariception
# Remember lists? They could contain anything, even other lists. Well, for dictionaries the same holds. 
# Dictionaries can contain key:value pairs where the values are again dictionaries.

europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france'])

# Create sub-dictionary data
data = {'capital' : 'rome', 'population' : 59.83}

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)

{'population': 66.03, 'capital': 'paris'}
{'norway': {'population': 5.084, 'capital': 'oslo'}, 'italy': {'population': 59.83, 'capital': 'rome'}, 'germany': {'population': 80.62, 'capital': 'berlin'}, 'spain': {'population': 46.77, 'capital': 'madrid'}, 'france': {'population': 66.03, 'capital': 'paris'}}

COMPARISON OPERATORS & applying them to numpy arrays<a id='comp_oper'></a>

In [22]:
# Equality
# Comparison of booleans
print(True == False)

# Comparison of integers
print(-5 * 15 != 75)

# Comparison of strings
print("pyscript" == "PyScript")

# Compare a boolean with an integer
print(True == 1)

False
True
False
True

In [23]:
# Greather than & Less than
# Comparison of integers
x = -3 * 6
print(x>=-10)

# Comparison of strings
y = "test"
print("test"<=y)

# Comparison of booleans
print(True>False)

False
True
True

In [25]:
# Compare Arrays
import numpy as np

my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# Using comparison operators, generate boolean arrays that answer the following questions:
# Which areas in my_house are greater than or equal to 18?
print(my_house>=18)

# You can also compare two Numpy arrays element-wise. Which areas in my_house are smaller than the ones in your_house?
print(my_house<your_house)

[ True  True False False]
[False  True  True False]

BOOLEAN OPERATORS [and, or & not] & applying it to NumPy<a id='bool_oper'></a>

In [2]:
# Write Python expressions, wrapped in a print() function, to check whether:
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen > 10 and my_kitchen < 18)

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen < 14 or my_kitchen > 17)

# Double my_kitchen smaller than triple your_kitchen?
print(2 * my_kitchen < 3 * your_kitchen)

# To see if you completely understood the boolean operators, have a look at the following piece of Python code:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False
True
True

False

Before, the operational operators like < and >= worked with Numpy arrays out of the box. Unfortunately, this is not true for the boolean operators and, or, and not.

To use these operators with Numpy, you will need np.logical_and(), np.logical_or() and np.logical_not(). Here's an example on the my_house and your_house arrays from before to give you an idea:

        --> np.logical_and(your_house > 13, your_house < 15)

In [5]:
import numpy as np

my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house>18.5, my_house < 10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house<11, your_house < 11))

[False  True False  True]
[False False False  True]

IF, ELIF, ELSE CONDITIONAL STATEMENTS & applying it to pandas DataFrames<a id='cond_stat'></a>

In [6]:
# To experiment with if and else a bit, have a look at this code sample:

area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

medium

In [9]:
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area > 10 : 
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

In [20]:
# Using only pandas and operators
import pandas as pd

brics = pd.read_csv("./data/pandas/brics.csv")

ishuge = brics["area"]>7
brics[ishuge]

  Unnamed: 0 country   capital    area  population
0         BR  Brazil  Brasilia   8.516       200.4
1         RU  Russia    Moscow  17.100       143.5
3         CH   China   Beijing   9.597      1357.0

In [19]:
# Using pandas, numpy and logical and, or & not
# Since Pandas is built on NumPy, the logical operators can be used for DataFrames as well

import pandas as pd

brics = pd.read_csv("./data/pandas/brics.csv", index_col = 0)

ismedium = np.logical_and(brics["area"]>8, brics["area"]<10)
print(brics[ismedium])

  Unnamed: 0 country   capital   area  population
0         BR  Brazil  Brasilia  8.516       200.4
3         CH   China   Beijing  9.597      1357.0

In [21]:
# Let's start simple and try to find all observations in cars where drives_right is True.
# drives_right is a boolean column, 
# so you'll have to extract it as a Series and then use this boolean Series to select observations from cars.

import pandas as pd
cars = pd.read_csv("./data/pandas/cars.csv", index_col = 0)

# Extract drives_right column as Series: dr
dr = cars["drives_right"]

# Use dr to subset cars: sel
sel = cars[dr]

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [22]:
# Similar to the previous example, you'll want to build up a boolean Series, 
# that you can then use to subset the cars DataFrame to select certain observations. 
# If you want to do this in a one-liner, that's perfectly fine!

import pandas as pd
cars = pd.read_csv("./data/pandas/cars.csv", index_col = 0)

# Create car_maniac: observations that have a cars_per_cap over 500
car_maniac = cars[cars["cars_per_cap"] > 500]

# Print car_maniac
print(car_maniac)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

# You can also use them on Pandas Series to do more advanced filtering operations.
# Take this example that selects the observations that have a cars_per_cap between 10 and 80. 
# Try out these lines of code step by step to see what's happening.

    -->cpc = cars['cars_per_cap']
    -->between = np.logical_and(cpc > 10, cpc < 80)
    -->medium = cars[between]

In [23]:
import pandas as pd
cars = pd.read_csv("./data/pandas/cars.csv", index_col = 0)

# Import numpy, you'll need this
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
medium = cars[np.logical_and(cars['cars_per_cap'] > 100, cars['cars_per_cap'] < 500)]

# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

<a id='loops'></a>[Go Top](#top)

# LOOPS & applying the concepts to NumPy arrays and Pandas DataFrames

# WHILE LOOP

In [25]:
# Basic while loop

x = 1
while x < 4 :
    print(x)
    x = x + 1

1
2
3

In [26]:
# Create the variable offset with an initial value of 8.
# Code a while loop that keeps running as long as offset is not equal to 0. Inside the while loop:
# Print out the sentence "correcting...".
# Next, decrease the value of offset by 1. You can do this with offset = offset - 1.
# Finally, print out offset so you can see how it changes.

offset = 8 

while offset != 0 :
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [28]:
# Inside the while loop, replace offset = offset - 1 by an if-else statement:
# If offset > 0, you should decrease offset by 1.
# Else, you should increase offset by 1.
# If you've coded things correctly, hitting Submit Answer should work this time.

offset = -6

while offset != 0 :
    print("correcting...")
    if offset > 0 :
        offset = offset - 1
    else :
        offset = offset + 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

FOR LOOP
    -->for x in seq :
    -->    print(x)

In [35]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]

In [31]:
# Looping over a list

for a in areas :
    print(a)

11.25
18.0
20.0
10.75
9.5

Using a for loop to iterate over a list only gives you access to every list element in each run, one after the other. If you also want to access the index information, so where the list element you're iterating over is located, you can use enumerate().

As an example, have a look at how the for loop from the video was converted:

    fam = [1.73, 1.68, 1.71, 1.89]
    for index, height in enumerate(fam) :
        print("person " + str(index) + ": " + str(height))

In [34]:
for index, a in enumerate(areas) :
    print("room "+str(index+1)+": "+str(a))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [36]:
# Loop over list of lists

# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for room in house:
    print("the "+room[0]+ " is "+str(room[1])+ " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

LOOPING Data Structures

In [41]:
# Itereating over a dictionary. 
# We need the items() method to loop over a dictionary

europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x, y in europe.items():
    print("the capital of "+x+" is "+y)

the capital of italy is rome
the capital of poland is warsaw
the capital of france is paris
the capital of austria is vienna
the capital of germany is berlin
the capital of norway is oslo
the capital of spain is madrid

In [45]:
# Iteratng over a NumPy array

import numpy as np

height = [74, 74, 72, 72, 73, 69, 69, 71, 76, 71, 73, 73, 74, 74, 69, 70, 73, 75, 78, 79, 76, 74, 76, 72, 71, 75, 77, 74, 73, 74, 78, 73, 75, 73, 75, 75, 74, 69, 71, 74, 73, 73, 76, 74, 74, 70, 72, 77, 74, 70, 73, 75, 76, 76, 78, 74, 74, 76, 77, 81, 78, 75, 77, 75, 76, 74, 72, 72, 75, 73, 73, 73, 70, 70, 70, 76, 68, 71, 72, 75, 75, 75, 75, 68, 74, 78, 71, 73, 76, 74, 74, 79, 75, 73, 76, 74, 74, 73, 72, 74, 73, 74, 72, 73, 69, 72, 73, 75, 75, 73, 72, 72, 76, 74, 72, 77, 74, 77, 75, 76, 80, 74, 74, 75, 78, 73, 73, 74, 75, 76, 71, 73, 74, 76, 76, 74, 73, 74, 70, 72, 73, 73, 73, 73, 71, 74, 74, 72, 74, 71, 74, 73, 75, 75, 79, 73, 75, 76, 74, 76, 78, 74, 76, 72, 74, 76, 74, 75, 78, 75, 72, 74, 72, 74, 70, 71, 70, 75, 71, 71, 73, 72, 71, 73, 72, 75, 74, 74, 75, 73, 77, 73, 76, 75, 74, 76, 75, 73, 71, 76, 75, 72, 71, 77, 73, 74, 71, 72, 74, 75, 73, 72, 75, 75, 74, 72, 74, 71, 70, 74, 77, 77, 75, 75, 78, 75, 76, 73, 75, 75, 79, 77, 76, 71, 75, 74, 69, 71, 76, 72, 72, 70, 72, 73, 71, 72, 71, 73, 72, 73, 74, 74, 72, 75, 74, 74, 77, 75, 73, 72, 71, 74, 77, 75, 75, 75, 78, 78, 74, 76, 78, 76, 70, 72, 80, 74, 74, 71, 70, 72, 71, 74, 71, 72, 71, 74, 69, 76, 75, 75, 76, 73, 76, 73, 77, 73, 72, 72, 77, 77, 71, 74, 74, 73, 78, 75, 73, 70, 74, 72, 73, 73, 75, 75, 74, 76, 73, 74, 75, 75, 72, 73, 73, 72, 74, 78, 76, 73, 74, 75, 70, 75, 71, 72, 78, 75, 73, 73, 71, 75, 77, 72, 69, 73, 74, 72, 70, 75, 70, 72, 72, 74, 73, 74, 76, 75, 80, 72, 75, 73, 74, 74, 73, 75, 75, 71, 73, 75, 74, 74, 72, 74, 74, 74, 73, 76, 75, 72, 73, 73, 73, 72, 72, 72, 72, 71, 75, 75, 74, 73, 75, 79, 74, 76, 73, 74, 74, 72, 74, 74, 75, 78, 74, 74, 74, 77, 70, 73, 74, 73, 71, 75, 71, 72, 77, 74, 70, 77, 73, 72, 76, 71, 76, 78, 75, 73, 78, 74, 79, 75, 76, 72, 75, 75, 70, 72, 70, 74, 71, 76, 73, 76, 71, 69, 72, 72, 69, 73, 69, 73, 74, 74, 72, 71, 72, 72, 76, 76, 76, 74, 76, 75, 71, 72, 71, 73, 75, 76, 75, 71, 75, 74, 72, 73, 73, 73, 73, 76, 72, 76, 73, 73, 73, 75, 75, 77, 73, 72, 75, 70, 74, 72, 80, 71, 71, 74, 74, 73, 75, 76, 73, 77, 72, 73, 77, 76, 71, 75, 73, 74, 77, 71, 72, 73, 69, 73, 70, 74, 76, 73, 73, 75, 73, 79, 74, 73, 74, 77, 75, 74, 73, 77, 73, 77, 74, 74, 73, 77, 74, 77, 75, 77, 75, 71, 74, 70, 79, 72, 72, 70, 74, 74, 72, 73, 72, 74, 74, 76, 82, 74, 74, 70, 73, 73, 74, 77, 72, 76, 73, 73, 72, 74, 74, 71, 72, 75, 74, 74, 77, 70, 71, 73, 76, 71, 75, 74, 72, 76, 79, 76, 73, 76, 78, 75, 76, 72, 72, 73, 73, 75, 71, 76, 70, 75, 74, 75, 73, 71, 71, 72, 73, 73, 72, 69, 73, 78, 71, 73, 75, 76, 70, 74, 77, 75, 79, 72, 77, 73, 75, 75, 75, 73, 73, 76, 77, 75, 70, 71, 71, 75, 74, 69, 70, 75, 72, 75, 73, 72, 72, 72, 76, 75, 74, 69, 73, 72, 72, 75, 77, 76, 80, 77, 76, 79, 71, 75, 73, 76, 77, 73, 76, 70, 75, 73, 75, 70, 69, 71, 72, 72, 73, 70, 70, 73, 76, 75, 72, 73, 79, 71, 72, 74, 74, 74, 72, 76, 76, 72, 72, 71, 72, 72, 70, 77, 74, 72, 76, 71, 76, 71, 73, 70, 73, 73, 72, 71, 71, 71, 72, 72, 74, 74, 74, 71, 72, 75, 72, 71, 72, 72, 72, 72, 74, 74, 77, 75, 73, 75, 73, 76, 72, 77, 75, 72, 71, 71, 75, 72, 73, 73, 71, 70, 75, 71, 76, 73, 68, 71, 72, 74, 77, 72, 76, 78, 81, 72, 73, 76, 72, 72, 74, 76, 73, 76, 75, 70, 71, 74, 72, 73, 76, 76, 73, 71, 68, 71, 71, 74, 77, 69, 72, 76, 75, 76, 75, 76, 72, 74, 76, 74, 72, 75, 78, 77, 70, 72, 79, 74, 71, 68, 77, 75, 71, 72, 70, 72, 72, 73, 72, 74, 72, 72, 75, 72, 73, 74, 72, 78, 75, 72, 74, 75, 75, 76, 74, 74, 73, 74, 71, 74, 75, 76, 74, 76, 76, 73, 75, 75, 74, 68, 72, 75, 71, 70, 72, 73, 72, 75, 74, 70, 76, 71, 82, 72, 73, 74, 71, 75, 77, 72, 74, 72, 73, 78, 77, 73, 73, 73, 73, 73, 76, 75, 70, 73, 72, 73, 75, 74, 73, 73, 76, 73, 75, 70, 77, 72, 77, 74, 75, 75, 75, 75, 72, 74, 71, 76, 71, 75, 76, 83, 75, 74, 76, 72, 72, 75, 75, 72, 77, 73, 72, 70, 74, 72, 74, 72, 71, 70, 71, 76, 74, 76, 74, 74, 74, 75, 75, 71, 71, 74, 77, 71, 74, 75, 77, 76, 74, 76, 72, 71, 72, 75, 73, 68, 72, 69, 73, 73, 75, 70, 70, 74, 75, 74, 74, 73, 74, 75, 77, 73, 74, 76, 74, 75, 73, 76, 78, 75, 73, 77, 74, 72, 74, 72, 71, 73, 75, 73, 67, 67, 76, 74, 73, 70, 75, 70, 72, 77, 79, 78, 74, 75, 75, 78, 76, 75, 69, 75, 72, 75, 73, 74, 75, 75, 73]
weight = [180, 215, 210, 210, 188, 176, 209, 200, 231, 180, 188, 180, 185, 160, 180, 185, 189, 185, 219, 230, 205, 230, 195, 180, 192, 225, 203, 195, 182, 188, 200, 180, 200, 200, 245, 240, 215, 185, 175, 199, 200, 215, 200, 205, 206, 186, 188, 220, 210, 195, 200, 200, 212, 224, 210, 205, 220, 195, 200, 260, 228, 270, 200, 210, 190, 220, 180, 205, 210, 220, 211, 200, 180, 190, 170, 230, 155, 185, 185, 200, 225, 225, 220, 160, 205, 235, 250, 210, 190, 160, 200, 205, 222, 195, 205, 220, 220, 170, 185, 195, 220, 230, 180, 220, 180, 180, 170, 210, 215, 200, 213, 180, 192, 235, 185, 235, 210, 222, 210, 230, 220, 180, 190, 200, 210, 194, 180, 190, 240, 200, 198, 200, 195, 210, 220, 190, 210, 225, 180, 185, 170, 185, 185, 180, 178, 175, 200, 204, 211, 190, 210, 190, 190, 185, 290, 175, 185, 200, 220, 170, 220, 190, 220, 205, 200, 250, 225, 215, 210, 215, 195, 200, 194, 220, 180, 180, 170, 195, 180, 170, 206, 205, 200, 225, 201, 225, 233, 180, 225, 180, 220, 180, 237, 215, 190, 235, 190, 180, 165, 195, 200, 190, 190, 185, 185, 205, 190, 205, 206, 220, 208, 170, 195, 210, 190, 211, 230, 170, 185, 185, 241, 225, 210, 175, 230, 200, 215, 198, 226, 278, 215, 230, 240, 184, 219, 170, 218, 190, 225, 220, 176, 190, 197, 204, 167, 180, 195, 220, 215, 185, 190, 205, 205, 200, 210, 215, 200, 205, 211, 190, 208, 200, 210, 232, 230, 210, 220, 210, 202, 212, 225, 170, 190, 200, 237, 220, 170, 193, 190, 150, 220, 200, 190, 185, 185, 200, 172, 220, 225, 190, 195, 219, 190, 197, 200, 195, 210, 177, 220, 235, 180, 195, 195, 190, 230, 190, 200, 190, 190, 200, 200, 184, 200, 180, 219, 187, 200, 220, 205, 190, 170, 160, 215, 175, 205, 200, 214, 200, 190, 180, 205, 220, 190, 215, 235, 191, 200, 181, 200, 210, 240, 185, 165, 190, 185, 175, 155, 210, 170, 175, 220, 210, 205, 200, 205, 195, 240, 150, 200, 215, 202, 200, 190, 205, 190, 160, 215, 185, 200, 190, 210, 185, 220, 190, 202, 205, 220, 175, 160, 190, 200, 229, 206, 220, 180, 195, 175, 188, 230, 190, 200, 190, 219, 235, 180, 180, 180, 200, 234, 185, 220, 223, 200, 210, 200, 210, 190, 177, 227, 180, 195, 199, 175, 185, 240, 210, 180, 194, 225, 180, 205, 193, 230, 230, 220, 200, 249, 190, 208, 245, 250, 160, 192, 220, 170, 197, 155, 190, 200, 220, 210, 228, 190, 160, 184, 180, 180, 200, 176, 160, 222, 211, 195, 200, 175, 206, 240, 185, 260, 185, 221, 205, 200, 170, 201, 205, 185, 205, 245, 220, 210, 220, 185, 175, 170, 180, 200, 210, 175, 220, 206, 180, 210, 195, 200, 200, 164, 180, 220, 195, 205, 170, 240, 210, 195, 200, 205, 192, 190, 170, 240, 200, 205, 175, 250, 220, 224, 210, 195, 180, 245, 175, 180, 215, 175, 180, 195, 230, 230, 205, 215, 195, 180, 205, 180, 190, 180, 190, 190, 220, 210, 255, 190, 230, 200, 205, 210, 225, 215, 220, 205, 200, 220, 197, 225, 187, 245, 185, 185, 175, 200, 180, 188, 225, 200, 210, 245, 213, 231, 165, 228, 210, 250, 191, 190, 200, 215, 254, 232, 180, 215, 220, 180, 200, 170, 195, 210, 200, 220, 165, 180, 200, 200, 170, 224, 220, 180, 198, 240, 239, 185, 210, 220, 200, 195, 220, 230, 170, 220, 230, 165, 205, 192, 210, 205, 200, 210, 185, 195, 202, 205, 195, 180, 200, 185, 240, 185, 220, 205, 205, 180, 201, 190, 208, 240, 180, 230, 195, 215, 190, 195, 215, 215, 220, 220, 230, 195, 190, 195, 209, 204, 170, 185, 205, 175, 210, 190, 180, 180, 160, 235, 200, 210, 180, 190, 197, 203, 205, 170, 200, 250, 200, 220, 200, 190, 170, 190, 220, 215, 206, 215, 185, 235, 188, 230, 195, 168, 190, 160, 200, 200, 189, 180, 190, 200, 220, 187, 240, 190, 180, 185, 210, 220, 219, 190, 193, 175, 180, 215, 210, 200, 190, 185, 220, 170, 195, 205, 195, 210, 190, 190, 180, 220, 190, 186, 185, 190, 180, 190, 170, 210, 240, 220, 180, 210, 210, 195, 160, 180, 205, 200, 185, 245, 190, 210, 200, 200, 222, 215, 240, 170, 220, 156, 190, 202, 221, 200, 190, 210, 190, 200, 165, 190, 185, 230, 208, 209, 175, 180, 200, 205, 200, 250, 210, 230, 244, 202, 240, 200, 215, 177, 210, 170, 215, 217, 198, 200, 220, 170, 200, 230, 231, 183, 192, 167, 190, 180, 180, 215, 160, 205, 223, 175, 170, 190, 240, 175, 230, 223, 196, 167, 195, 190, 250, 190, 190, 190, 170, 160, 150, 225, 220, 209, 210, 176, 260, 195, 190, 184, 180, 195, 195, 219, 225, 212, 202, 185, 200, 209, 200, 195, 228, 210, 190, 212, 190, 218, 220, 190, 235, 210, 200, 188, 210, 235, 188, 215, 216, 220, 180, 185, 200, 210, 220, 185, 231, 210, 195, 200, 205, 200, 190, 250, 185, 180, 170, 180, 208, 235, 215, 244, 220, 185, 230, 190, 200, 180, 190, 196, 180, 230, 224, 160, 178, 205, 185, 210, 180, 190, 200, 257, 190, 220, 165, 205, 200, 208, 185, 215, 170, 235, 210, 170, 180, 170, 190, 150, 230, 203, 260, 246, 186, 210, 198, 210, 215, 180, 200, 245, 200, 192, 192, 200, 192, 205, 190, 186, 170, 197, 219, 200, 220, 207, 225, 207, 212, 225, 170, 190, 210, 230, 210, 200, 238, 234, 222, 200, 190, 170, 220, 223, 210, 215, 196, 175, 175, 189, 205, 210, 180, 180, 197, 220, 228, 190, 204, 165, 216, 220, 208, 210, 215, 195, 200, 215, 229, 240, 207, 205, 208, 185, 190, 170, 208, 225, 190, 225, 185, 180, 165, 240, 220, 212, 163, 215, 175, 205, 210, 205, 208, 215, 180, 200, 230, 211, 230, 190, 220, 180, 205, 190, 180, 205, 190, 195]

np_baseball = np.column_stack((height, weight))

# For loop over np_height
for x in height:
    print(str(x)+" inches")

# For loop over np_baseball
for x in np.nditer(np_baseball):
    print(str(x))

74 inches
74 inches
72 inches
72 inches
73 inches
69 inches
69 inches
71 inches
76 inches
71 inches
73 inches
73 inches
74 inches
74 inches
69 inches
70 inches
73 inches
75 inches
78 inches
79 inches
76 inches
74 inches
76 inches
72 inches
71 inches
75 inches
77 inches
74 inches
73 inches
74 inches
78 inches
73 inches
75 inches
73 inches
75 inches
75 inches
74 inches
69 inches
71 inches
74 inches
73 inches
73 inches
76 inches
74 inches
74 inches
70 inches
72 inches
77 inches
74 inches
70 inches
73 inches
75 inches
76 inches
76 inches
78 inches
74 inches
74 inches
76 inches
77 inches
81 inches
78 inches
75 inches
77 inches
75 inches
76 inches
74 inches
72 inches
72 inches
75 inches
73 inches
73 inches
73 inches
70 inches
70 inches
70 inches
76 inches
68 inches
71 inches
72 inches
75 inches
75 inches
75 inches
75 inches
68 inches
74 inches
78 inches
71 inches
73 inches
76 inches
74 inches
74 inches
79 inches
75 inches
73 inches
76 inches
74 inches
74 inches
73 inches
72 inches
74 inches
73 inches
74 inches
72 inches
73 inches
69 inches
72 inches
73 inches
75 inches
75 inches
73 inches
72 inches
72 inches
76 inches
74 inches
72 inches
77 inches
74 inches
77 inches
75 inches
76 inches
80 inches
74 inches
74 inches
75 inches
78 inches
73 inches
73 inches
74 inches
75 inches
76 inches
71 inches
73 inches
74 inches
76 inches
76 inches
74 inches
73 inches
74 inches
70 inches
72 inches
73 inches
73 inches
73 inches
73 inches
71 inches
74 inches
74 inches
72 inches
74 inches
71 inches
74 inches
73 inches
75 inches
75 inches
79 inches
73 inches
75 inches
76 inches
74 inches
76 inches
78 inches
74 inches
76 inches
72 inches
74 inches
76 inches
74 inches
75 inches
78 inches
75 inches
72 inches
74 inches
72 inches
74 inches
70 inches
71 inches
70 inches
75 inches
71 inches
71 inches
73 inches
72 inches
71 inches
73 inches
72 inches
75 inches
74 inches
74 inches
75 inches
73 inches
77 inches
73 inches
76 inches
75 inches
74 inches
76 inches
75 inches
73 inches
71 inches
76 inches
75 inches
72 inches
71 inches
77 inches
73 inches
74 inches
71 inches
72 inches
74 inches
75 inches
73 inches
72 inches
75 inches
75 inches
74 inches
72 inches
74 inches
71 inches
70 inches
74 inches
77 inches
77 inches
75 inches
75 inches
78 inches
75 inches
76 inches
73 inches
75 inches
75 inches
79 inches
77 inches
76 inches
71 inches
75 inches
74 inches
69 inches
71 inches
76 inches
72 inches
72 inches
70 inches
72 inches
73 inches
71 inches
72 inches
71 inches
73 inches
72 inches
73 inches
74 inches
74 inches
72 inches
75 inches
74 inches
74 inches
77 inches
75 inches
73 inches
72 inches
71 inches
74 inches
77 inches
75 inches
75 inches
75 inches
78 inches
78 inches
74 inches
76 inches
78 inches
76 inches
70 inches
72 inches
80 inches
74 inches
74 inches
71 inches
70 inches
72 inches
71 inches
74 inches
71 inches
72 inches
71 inches
74 inches
69 inches
76 inches
75 inches
75 inches
76 inches
73 inches
76 inches
73 inches
77 inches
73 inches
72 inches
72 inches
77 inches
77 inches
71 inches
74 inches
74 inches
73 inches
78 inches
75 inches
73 inches
70 inches
74 inches
72 inches
73 inches
73 inches
75 inches
75 inches
74 inches
76 inches
73 inches
74 inches
75 inches
75 inches
72 inches
73 inches
73 inches
72 inches
74 inches
78 inches
76 inches
73 inches
74 inches
75 inches
70 inches
75 inches
71 inches
72 inches
78 inches
75 inches
73 inches
73 inches
71 inches
75 inches
77 inches
72 inches
69 inches
73 inches
74 inches
72 inches
70 inches
75 inches
70 inches
72 inches
72 inches
74 inches
73 inches
74 inches
76 inches
75 inches
80 inches
72 inches
75 inches
73 inches
74 inches
74 inches
73 inches
75 inches
75 inches
71 inches
73 inches
75 inches
74 inches
74 inches
72 inches
74 inches
74 inches
74 inches
73 inches
76 inches
75 inches
72 inches
73 inches
73 inches
73 inches
72 inches
72 inches
72 inches
72 inches
71 inches
75 inches
75 inches
74 inches
73 inches
75 inches
79 inches
74 inches
76 inches
73 inches
74 inches
74 inches
72 inches
74 inches
74 inches
75 inches
78 inches
74 inches
74 inches
74 inches
77 inches
70 inches
73 inches
74 inches
73 inches
71 inches
75 inches
71 inches
72 inches
77 inches
74 inches
70 inches
77 inches
73 inches
72 inches
76 inches
71 inches
76 inches
78 inches
75 inches
73 inches
78 inches
74 inches
79 inches
75 inches
76 inches
72 inches
75 inches
75 inches
70 inches
72 inches
70 inches
74 inches
71 inches
76 inches
73 inches
76 inches
71 inches
69 inches
72 inches
72 inches
69 inches
73 inches
69 inches
73 inches
74 inches
74 inches
72 inches
71 inches
72 inches
72 inches
76 inches
76 inches
76 inches
74 inches
76 inches
75 inches
71 inches
72 inches
71 inches
73 inches
75 inches
76 inches
75 inches
71 inches
75 inches
74 inches
72 inches
73 inches
73 inches
73 inches
73 inches
76 inches
72 inches
76 inches
73 inches
73 inches
73 inches
75 inches
75 inches
77 inches
73 inches
72 inches
75 inches
70 inches
74 inches
72 inches
80 inches
71 inches
71 inches
74 inches
74 inches
73 inches
75 inches
76 inches
73 inches
77 inches
72 inches
73 inches
77 inches
76 inches
71 inches
75 inches
73 inches
74 inches
77 inches
71 inches
72 inches
73 inches
69 inches
73 inches
70 inches
74 inches
76 inches
73 inches
73 inches
75 inches
73 inches
79 inches
74 inches
73 inches
74 inches
77 inches
75 inches
74 inches
73 inches
77 inches
73 inches
77 inches
74 inches
74 inches
73 inches
77 inches
74 inches
77 inches
75 inches
77 inches
75 inches
71 inches
74 inches
70 inches
79 inches
72 inches
72 inches
70 inches
74 inches
74 inches
72 inches
73 inches
72 inches
74 inches
74 inches
76 inches
82 inches
74 inches
74 inches
70 inches
73 inches
73 inches
74 inches
77 inches
72 inches
76 inches
73 inches
73 inches
72 inches
74 inches
74 inches
71 inches
72 inches
75 inches
74 inches
74 inches
77 inches
70 inches
71 inches
73 inches
76 inches
71 inches
75 inches
74 inches
72 inches
76 inches
79 inches
76 inches
73 inches
76 inches
78 inches
75 inches
76 inches
72 inches
72 inches
73 inches
73 inches
75 inches
71 inches
76 inches
70 inches
75 inches
74 inches
75 inches
73 inches
71 inches
71 inches
72 inches
73 inches
73 inches
72 inches
69 inches
73 inches
78 inches
71 inches
73 inches
75 inches
76 inches
70 inches
74 inches
77 inches
75 inches
79 inches
72 inches
77 inches
73 inches
75 inches
75 inches
75 inches
73 inches
73 inches
76 inches
77 inches
75 inches
70 inches
71 inches
71 inches
75 inches
74 inches
69 inches
70 inches
75 inches
72 inches
75 inches
73 inches
72 inches
72 inches
72 inches
76 inches
75 inches
74 inches
69 inches
73 inches
72 inches
72 inches
75 inches
77 inches
76 inches
80 inches
77 inches
76 inches
79 inches
71 inches
75 inches
73 inches
76 inches
77 inches
73 inches
76 inches
70 inches
75 inches
73 inches
75 inches
70 inches
69 inches
71 inches
72 inches
72 inches
73 inches
70 inches
70 inches
73 inches
76 inches
75 inches
72 inches
73 inches
79 inches
71 inches
72 inches
74 inches
74 inches
74 inches
72 inches
76 inches
76 inches
72 inches
72 inches
71 inches
72 inches
72 inches
70 inches
77 inches
74 inches
72 inches
76 inches
71 inches
76 inches
71 inches
73 inches
70 inches
73 inches
73 inches
72 inches
71 inches
71 inches
71 inches
72 inches
72 inches
74 inches
74 inches
74 inches
71 inches
72 inches
75 inches
72 inches
71 inches
72 inches
72 inches
72 inches
72 inches
74 inches
74 inches
77 inches
75 inches
73 inches
75 inches
73 inches
76 inches
72 inches
77 inches
75 inches
72 inches
71 inches
71 inches
75 inches
72 inches
73 inches
73 inches
71 inches
70 inches
75 inches
71 inches
76 inches
73 inches
68 inches
71 inches
72 inches
74 inches
77 inches
72 inches
76 inches
78 inches
81 inches
72 inches
73 inches
76 inches
72 inches
72 inches
74 inches
76 inches
73 inches
76 inches
75 inches
70 inches
71 inches
74 inches
72 inches
73 inches
76 inches
76 inches
73 inches
71 inches
68 inches
71 inches
71 inches
74 inches
77 inches
69 inches
72 inches
76 inches
75 inches
76 inches
75 inches
76 inches
72 inches
74 inches
76 inches
74 inches
72 inches
75 inches
78 inches
77 inches
70 inches
72 inches
79 inches
74 inches
71 inches
68 inches
77 inches
75 inches
71 inches
72 inches
70 inches
72 inches
72 inches
73 inches
72 inches
74 inches
72 inches
72 inches
75 inches
72 inches
73 inches
74 inches
72 inches
78 inches
75 inches
72 inches
74 inches
75 inches
75 inches
76 inches
74 inches
74 inches
73 inches
74 inches
71 inches
74 inches
75 inches
76 inches
74 inches
76 inches
76 inches
73 inches
75 inches
75 inches
74 inches
68 inches
72 inches
75 inches
71 inches
70 inches
72 inches
73 inches
72 inches
75 inches
74 inches
70 inches
76 inches
71 inches
82 inches
72 inches
73 inches
74 inches
71 inches
75 inches
77 inches
72 inches
74 inches
72 inches
73 inches
78 inches
77 inches
73 inches
73 inches
73 inches
73 inches
73 inches
76 inches
75 inches
70 inches
73 inches
72 inches
73 inches
75 inches
74 inches
73 inches
73 inches
76 inches
73 inches
75 inches
70 inches
77 inches
72 inches
77 inches
74 inches
75 inches
75 inches
75 inches
75 inches
72 inches
74 inches
71 inches
76 inches
71 inches
75 inches
76 inches
83 inches
75 inches
74 inches
76 inches
72 inches
72 inches
75 inches
75 inches
72 inches
77 inches
73 inches
72 inches
70 inches
74 inches
72 inches
74 inches
72 inches
71 inches
70 inches
71 inches
76 inches
74 inches
76 inches
74 inches
74 inches
74 inches
75 inches
75 inches
71 inches
71 inches
74 inches
77 inches
71 inches
74 inches
75 inches
77 inches
76 inches
74 inches
76 inches
72 inches
71 inches
72 inches
75 inches
73 inches
68 inches
72 inches
69 inches
73 inches
73 inches
75 inches
70 inches
70 inches
74 inches
75 inches
74 inches
74 inches
73 inches
74 inches
75 inches
77 inches
73 inches
74 inches
76 inches
74 inches
75 inches
73 inches
76 inches
78 inches
75 inches
73 inches
77 inches
74 inches
72 inches
74 inches
72 inches
71 inches
73 inches
75 inches
73 inches
67 inches
67 inches
76 inches
74 inches
73 inches
70 inches
75 inches
70 inches
72 inches
77 inches
79 inches
78 inches
74 inches
75 inches
75 inches
78 inches
76 inches
75 inches
69 inches
75 inches
72 inches
75 inches
73 inches
74 inches
75 inches
75 inches
73 inches
74
180
74
215
72
210
72
210
73
188
69
176
69
209
71
200
76
231
71
180
73
188
73
180
74
185
74
160
69
180
70
185
73
189
75
185
78
219
79
230
76
205
74
230
76
195
72
180
71
192
75
225
77
203
74
195
73
182
74
188
78
200
73
180
75
200
73
200
75
245
75
240
74
215
69
185
71
175
74
199
73
200
73
215
76
200
74
205
74
206
70
186
72
188
77
220
74
210
70
195
73
200
75
200
76
212
76
224
78
210
74
205
74
220

76
195
77
200
81
260
78
228
75
270
77
200
75
210
76
190
74
220
72
180
72
205
75
210
73
220
73
211
73
200
70
180
70
190
70
170
76
230
68
155
71
185
72
185
75
200
75
225
75
225
75
220
68
160
74
205
78
235
71
250
73
210
76
190
74
160
74
200
79
205
75
222
73
195
76
205
74
220
74
220
73
170
72
185
74
195
73
220
74
230
72
180
73
220
69
180
72
180
73
170
75
210
75
215
73
200
72
213
72
180
76
192
74
235
72
185
77
235
74
210
77
222
75
210
76
230
80
220
74
180
74
190
75
200
78
210
73
194
73
180
74
190
75
240
76
200
71
198
73
200
74
195
76
210
76
220
74
190
73
210
74
225
70
180
72
185
73
170
73
185
73
185
73
180
71
178
74
175
74
200
72
204
74
211
71
190
74
210
73
190
75
190
75
185
79
290
73
175
75
185
76
200
74
220
76
170
78
220
74
190
76
220
72
205
74
200
76
250
74
225
75
215
78
210
75
215
72
195
74
200
72
194
74
220
70
180
71
180
70
170
75
195
71
180
71
170
73
206
72
205
71
200
73
225
72
201
75
225
74
233
74
180
75
225
73
180
77
220
73
180
76
237
75
215
74
190
76
235
75
190
73
180
71
165
76
195
75
200
72
190
71
190
77
185
73
185
74
205
71
190
72
205
74
206
75
220
73
208
72
170
75
195
75
210
74
190
72
211
74
230
71
170
70
185
74
185
77
241
77
225
75
210
75
175
78
230
75
200
76
215
73
198
75
226
75
278
79
215
77
230
76
240
71
184
75
219
74
170
69
218
71
190
76
225
72
220
72
176
70
190
72
197
73
204
71
167
72
180
71
195
73
220
72
215
73
185
74
190
74
205
72
205
75
200
74
210
74
215
77
200
75
205
73
211
72
190
71
208
74
200
77
210
75
232
75
230
75
210
78
220
78
210
74
202
76
212
78
225
76
170
70
190
72
200
80
237
74
220
74
170
71
193
70
190
72
150
71
220
74
200
71
190
72
185
71
185
74
200
69
172
76
220
75
225
75
190
76
195
73
219
76
190
73
197
77
200
73
195
72
210
72
177
77
220
77
235
71
180
74
195
74
195
73
190
78
230
75
190
73
200
70
190
74
190
72
200
73
200
73
184
75
200
75
180
74
219
76
187
73
200
74
220
75
205
75
190
72
170
73
160
73
215
72
175
74
205
78
200
76
214
73
200
74
190
75
180
70
205
75
220
71
190
72
215
78
235
75
191
73
200
73
181
71
200
75
210
77
240
72
185
69
165
73
190
74
185
72
175
70
155
75
210
70
170
72
175
72
220
74
210
73
205
74
200
76
205
75
195
80
240
72
150
75
200
73
215
74
202
74
200
73
190
75
205
75
190
71
160
73
215
75
185
74
200
74
190
72
210
74
185
74
220
74
190
73
202
76
205
75
220
72
175
73
160
73
190
73
200
72
229
72
206
72
220
72
180
71
195
75
175
75
188
74
230
73
190
75
200
79
190
74
219
76
235
73
180
74
180
74
180
72
200
74
234
74
185
75
220
78
223
74
200
74
210
74
200
77
210
70
190
73
177
74
227
73
180
71
195
75
199
71
175
72
185
77
240
74
210
70
180
77
194
73
225
72
180
76
205
71
193
76
230
78
230
75
220
73
200
78
249
74
190
79
208
75
245
76
250
72
160
75
192
75
220
70
170
72
197
70
155
74
190
71
200
76
220
73
210
76
228
71
190
69
160
72
184
72
180
69
180
73
200
69
176
73
160
74
222
74
211
72
195
71
200
72
175
72
206
76
240
76
185
76
260
74
185
76
221
75
205
71
200
72
170
71
201
73
205
75
185
76
205
75
245
71
220
75
210
74
220
72
185
73
175
73
170
73
180
73
200
76
210
72
175
76
220
73
206
73
180
73
210
75
195
75
200
77
200
73
164
72
180
75
220
70
195
74
205
72
170
80
240
71
210
71
195
74
200
74
205
73
192
75
190
76
170
73
240
77
200
72
205
73
175
77
250
76
220
71
224
75
210
73
195
74
180
77
245
71
175
72
180
73
215
69
175
73
180
70
195
74
230
76
230
73
205
73
215
75
195
73
180
79
205
74
180
73
190
74
180
77
190
75
190
74
220
73
210
77
255
73
190
77
230
74
200
74
205
73
210
77
225
74
215
77
220
75
205
77
200
75
220
71
197
74
225
70
187
79
245
72
185
72
185
70
175
74
200
74
180
72
188
73
225
72
200
74
210
74
245
76
213
82
231
74
165
74
228
70
210
73
250
73
191
74
190
77
200
72
215
76
254
73
232
73
180
72
215
74
220
74
180
71
200
72
170
75
195
74
210
74
200
77
220
70
165
71
180
73
200
76
200
71
170
75
224
74
220
72
180
76
198
79
240
76
239
73
185
76
210
78
220
75
200
76
195
72
220
72
230
73
170
73
220
75
230
71
165
76
205
70
192
75
210
74
205
75
200
73
210
71
185
71
195
72
202
73
205
73
195
72
180
69
200
73
185
78
240
71
185
73
220
75
205
76
205
70
180
74
201
77
190
75
208
79
240
72
180
77
230
73
195
75
215
75
190
75
195
73
215
73
215
76
220
77
220
75
230
70
195
71
190
71
195
75
209
74
204
69
170
70
185
75
205
72
175
75
210
73
190
72
180
72
180
72
160
76
235
75
200
74
210
69
180
73
190
72
197
72
203
75
205
77
170
76
200
80
250
77
200
76
220
79
200
71
190
75
170
73
190
76
220
77
215
73
206
76
215
70
185
75
235
73
188
75
230
70
195
69
168
71
190
72
160
72
200
73
200
70
189
70
180
73
190
76
200
75
220
72
187
73
240
79
190
71
180
72
185
74
210
74
220
74
219
72
190
76
193
76
175
72
180
72
215
71
210
72
200
72
190
70
185
77
220
74
170
72
195
76
205
71
195
76
210
71
190
73
190
70
180
73
220
73
190
72
186
71
185
71
190
71
180
72
190
72
170
74
210
74
240
74
220
71
180
72
210
75
210
72
195
71
160
72
180
72
205
72
200
72
185
74
245
74
190
77
210
75
200
73
200
75
222
73
215
76
240
72
170
77
220
75
156
72
190
71
202
71
221
75
200
72
190
73
210
73
190
71
200
70
165
75
190
71
185
76
230
73
208
68
209
71
175
72
180
74
200
77
205
72
200
76
250
78
210
81
230
72
244
73
202
76
240
72
200
72
215
74
177
76
210
73
170
76
215
75
217
70
198
71
200
74
220
72
170
73
200
76
230
76
231
73
183
71
192
68
167
71
190
71
180
74
180
77
215
69
160
72
205
76
223
75
175
76
170
75
190
76
240
72
175
74
230
76
223
74
196
72
167
75
195
78
190
77
250
70
190
72
190
79
190
74
170
71
160
68
150
77
225
75
220
71
209
72
210
70
176
72
260
72
195
73
190
72
184
74
180
72
195
72
195
75
219
72
225
73
212
74
202
72
185
78
200
75
209
72
200
74
195
75
228
75
210
76
190
74
212
74
190
73
218
74
220
71
190
74
235
75
210
76
200
74
188
76
210
76
235
73
188
75
215
75
216
74
220
68
180
72
185
75
200
71
210
70
220
72
185
73
231
72
210
75
195
74
200
70
205
76
200
71
190
82
250
72
185
73
180
74
170
71
180
75
208
77
235
72
215
74
244
72
220
73
185
78
230
77
190
73
200
73
180
73
190
73
196
73
180
76
230
75
224
70
160
73
178
72
205
73
185
75
210
74
180
73
190
73
200
76
257
73
190
75
220
70
165
77
205
72
200
77
208
74
185
75
215
75
170
75
235
75
210
72
170
74
180
71
170
76
190
71
150
75
230
76
203
83
260
75
246
74
186
76
210
72
198
72
210
75
215
75
180
72
200
77
245
73
200
72
192
70
192
74
200
72
192
74
205
72
190
71
186
70
170
71
197
76
219
74
200
76
220
74
207
74
225
74
207
75
212
75
225
71
170
71
190
74
210
77
230
71
210
74
200
75
238
77
234
76
222
74
200
76
190
72
170
71
220
72
223
75
210
73
215
68
196
72
175
69
175
73
189
73
205
75
210
70
180
70
180
74
197
75
220
74
228
74
190
73
204
74
165
75
216
77
220
73
208
74
210
76
215
74
195
75
200
73
215
76
229
78
240
75
207
73
205
77
208
74
185
72
190
74
170
72
208
71
225
73
190
75
225
73
185
67
180
67
165
76
240
74
220
73
212
70
163
75
215
70
175
72
205
77
210
79
205
78
208
74
215
75
180
75
200
78
230
76
211
75
230
69
190
75
220
72
180
75
205
73
190
74
180
75
205
75
190
73
195

In [52]:
# Iterating over pandas DataFrames & adding data as per our requirement

import pandas as pd

brics = pd.read_csv("./data/pandas/brics.csv", index_col = 0)

for label, row in brics.iterrows():
    brics.loc[label, "name_length"] = len(row["capital"])
brics

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          8.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          9.0
CH         China    Beijing   9.597     1357.00          7.0
SA  South Africa   Pretoria   1.221       52.98          8.0

In [53]:
# Import cars data
import pandas as pd
cars = pd.read_csv('./data/pandas/cars.csv', index_col = 0)

# Iterate over rows of cars
for label, row in cars.iterrows():
    print(label)
    print(row)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [54]:
import pandas as pd
cars = pd.read_csv('./data/pandas/cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab+": "+str(row['cars_per_cap']))

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [55]:
# Add a column to cars data

import pandas as pd
cars = pd.read_csv('./data/pandas/cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows():
    cars.loc[lab,"COUNTRY"] = row["country"].upper()

# Print cars
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

Using iterrows() to iterate over every observation of a Pandas DataFrame is easy to understand, but not very efficient. On every iteration, you're creating a new Pandas Series.

If you want to add a column to a DataFrame by calling a function on another column, the iterrows() method in combination with a for loop is not the preferred way to go. Instead, you'll want to use apply().

Compare the iterrows() version with the apply() version to get the same result in the brics DataFrame:

> for loop version
    for lab, row in brics.iterrows() :
        brics.loc[lab, "name_length"] = len(row["country"])

> apply version
    brics["name_length"] = brics["country"].apply(len)

In [56]:
import pandas as pd
cars = pd.read_csv('./data/pandas/cars.csv', index_col = 0)
    
cars["COUNTRY"] = cars["country"].apply(str.upper)

print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

<a id='case_study'></a>

                                ## CASE STUDY ## SKIPPED AS IT WAS NOT RELEVANT ##

<a id = 'cust_func'></a>[Go Home](#home)

# User-Defined Functions

In [71]:
# simple functions

In [64]:
def square():
    new_value = 4 ** 2
    return new_value

a = square()
print(a)

16

In [65]:
# sample shout functions

def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = 'congratulations'+'!!!'

    # Print shout_word
    print(shout_word)

# Call shout
shout()

congratulations!!!

In [67]:
# sample shout function with a parameter

def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Print shout_word
    print(shout_word)

# Call shout with the string 'congratulations'
shout('congratulations')

congratulations!!!

In [68]:
# sample shout function with a different view

def shout(word):
    """Return a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word+'!!!'

    # Replace print with return
    return shout_word

# Pass 'congratulations' to shout: yell
yell = shout('congratulations')

# Print yell
print(yell)

congratulations!!!

In [69]:
# Multiple parameters and return values

In [72]:
# sample shout with multiple parameters

def shout(word1,word2):
    """Concatenate strings with three exclamation marks"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1+"!!!"
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2+"!!!"
    
    # Concatenate shout1 with shout2: new_shout
    new_shout = shout1+shout2

    # Return new_shout
    return new_shout

# Pass 'congratulations' and 'you' to shout(): yell
yell = shout('congratulations','you')

# Print yell
print(yell)

congratulations!!!you!!!

In [73]:
# sample shout functions using the concept of touples

def shout_all(word1, word2):
    
    # Concatenate word1 with '!!!': shout1
    shout1 = word1+"!!!"
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2+"!!!"
    
    # Construct a tuple with shout1 and shout2: shout_words
    shout_words = (shout1, shout2)

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all(): yell1, yell2
yell1, yell2 = shout_all('congratulations', 'you')

# Print yell1 and yell2
print(yell1)
print(yell2)

congratulations!!!
you!!!

In [74]:
## Exercise using the above concepts to analyse the twitter data ## data not available ## prepare an example ##

<a id='scope_of_func'></a>[Go Home](#home)

In [2]:
# Scope and user-defined functions
# Global scope   : defined in the main body of a script
# Local scope    : defined inside a function
# Built-in scope : names in th pre-defined built-ins module

In [4]:
# Global vs Local : variable is not defined globally

def square(value):
    new_value = value**2
    return new_value

print(square(9))

# below line throws an error as the variable new_value has a local scope but not global scope
print(new_value)

81

NameError: name 'new_value' is not defined

In [5]:
# Global vs Local : variable is defined globally

nu_value = 10

def square(value):
    nu_value = value**2
    return nu_value

print(square(9))

# below line throws an error as the variable new_value has a local scope but not global scope
print(nu_value)

81
10

In [6]:
# Gloval vs Local : variable is defined globally but use locally

p = 10

def square(value):
    new_val = p **2
    return new_val

print(square(3))

100

In [8]:
# Global vs Local : altering a global variable in the local

q = 10

def square(val):
    global q 
    q = q**2
    return q

print(square(3))

print(q)

100
100

In [9]:
## Exercises

In [10]:
# Create a string: team
team = "teen titans"

# Define change_team()
def change_team():
    """Change the value of the global variable team."""
    
    # Use the keyword global to alter the object team in the global scope.
    global team
    
    # Change the value of team in the global scope to the string "justice league". Assign the result to team.
    team = "justice league"
    
# Print team
print(team)

# Call change_team()
change_team()

# Print team
print(team)

teen titans
justice league

<a id='nested_func'></a>[Go Home](#home)

In [11]:
# Nested Functions
# decreases the number of lines of code that has to be written as mentioned in the below examples

In [12]:
def mod2(x1, x2, x3):
    def inner(x):
        return x%2 + 5
    return(inner(x1), inner(x2), inner(x3))

print(mod2(2,3,4))

(5, 6, 5)

In [15]:
# Returning Functions
def raise_val(n):
    
    def inner(x):
        raised = x ** n
        return raised
    return inner

square = raise_val(2)
cube = raise_val(3)

print(square(2), cube(3))

(4, 27)

In [19]:
# Using non-local
# works only on Python 3. This should explaing the exception
def outer():
    n = 1
    
    def inner():
        nonlocal n
        n = 2
        print(n)
        
    inner()
    print(n)

outer()

SyntaxError: invalid syntax (<ipython-input-19-7f4f5484cb3c>, line 6)

Scoped search order : LEGB
    Local scope
    Enclosing functions
    Global
    Built-in

<a id='arguments'></a>[Go Home](#home)

In [22]:
# Default and flexible arguments
# Default argument example  : def power(number, pow = 1)
# Flexible argument example : def add_all(*args)
# Flexible arguments : *kwargs

In [24]:
# Function with one default variable

# Complete the function header with the function name shout_echo. 
# It accepts an argument word1 and a default argument echo with default value 1, in that order.
# Use the * operator to concatenate echo copies of word1. Assign the result to echo_word.
# Call shout_echo() with just the string, "Hey". Assign the result to no_echo.
# Call shout_echo() with the string "Hey" and the value 5 for the default argument, echo. Assign the result to with_echo.

# Define shout_echo
def shout_echo(word1 , echo = 1):
    """Concatenate echo copies of word1 and three
     exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = echo*word1

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo() with "Hey": no_echo
no_echo = shout_echo("Hey")

# Call shout_echo() with "Hey" and echo=5: with_echo
with_echo = shout_echo("Hey", 5)

# Print no_echo and with_echo
print(no_echo)
print(with_echo)

Hey!!!
HeyHeyHeyHeyHey!!!

In [26]:
# Functions with multiple default arguments

# Complete the function header with the function name shout_echo. 
# It accepts an argument word1, a default argument echo with default value 1 and a default argument intense with default value False, in that order.
# In the body of the if statement, make the string object echo_word upper case by applying the method .upper() on it.
# Call shout_echo() with the string, "Hey", the value 5 for echo and the value True for intense. Assign the result to with_big_echo.
# Call shout_echo() with the string "Hey" and the value True for intense. Assign the result to big_no_echo.

# Define shout_echo
def shout_echo(word1, echo = 1, intense = False):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Capitalize echo_word if intense is True
    if intense is True:
        # Capitalize and concatenate '!!!': echo_word_new
        echo_word_new = echo_word.upper() + '!!!'
    else:
        # Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'

    # Return echo_word_new
    return echo_word_new

# Call shout_echo() with "Hey", echo=5 and intense=True: with_big_echo
with_big_echo = shout_echo("Hey", 5, intense = True)

# Call shout_echo() with "Hey" and intense=True: big_no_echo
big_no_echo = shout_echo("Hey", intense = True)

# Print values
print(with_big_echo)
print(big_no_echo)

HEYHEYHEYHEYHEY!!!
HEY!!!

In [1]:
# Functions with variable-length arguments (*args)

# Complete the function header with the function name gibberish. It accepts a single flexible argument *args.
# Initialize a variable hodgepodge to an empty string.
# Return the variable hodgepodge at the end of the function body.
# Call gibberish() with the single string, "luke". Assign the result to one_word.
# Hit the Submit button to call gibberish() with multiple arguments and to print the value to the Shell.

# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge = ''

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge

# Call gibberish() with one string: one_word
one_word = gibberish("luke")

# Call gibberish() with five strings: many_words
many_words = gibberish("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

luke
lukeleiahanobidarth

In [3]:
# Functions with variable-length keyword arguments (**kwargs)

# Complete the function header with the function name report_status. It accepts a single flexible argument **kwargs.
# Iterate over the key-value pairs of kwargs to print out the keys and values, separated by a colon ':'.
# In the first call to report_status(), pass the following keyword-value pairs: name="luke", affiliation="jedi" and status="missing".
# In the second call to report_status(), pass the following keyword-value pairs: name="anakin", affiliation="sith lord" and status="deceased"

# Define report_status
def report_status(**kwargs):
    """Print out the status of a movie character."""

    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ": " + value)

    print("\nEND REPORT")

# First call to report_status()
report_status(name="luke", affiliation="jedi", status="missing")

# Second call to report_status()
report_status(name="anakin", affiliation="sith lord", status="deceased")

BEGIN: REPORT

status: missing
affiliation: jedi
name: luke

END REPORT

BEGIN: REPORT

status: deceased
affiliation: sith lord
name: anakin

END REPORT

In [4]:
# Bringing it all together - 1

# Complete the function header by supplying the parameter for a DataFrame df and the parameter col_name with a default value of 'lang' for the DataFrame column name.
# Call count_entries() by passing the tweets_df DataFrame and the column name 'lang'. Assign the result to result1. 
# Note that since 'lang' is the default value of the col_name parameter, you don't have to specify it here.
# Call count_entries() by passing the tweets_df DataFrame and the column name 'source'. Assign the result to result2

# Doesn't work as we do not have access to tweets_df
# Define count_entries()
def count_entries(df, col_name = 'lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1

        # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df)

# Call count_entries(): result2
result2 = count_entries(tweets_df, 'source')

# Print result1 and result2
print(result1)
print(result2)

NameError: name 'tweets_df' is not defined

In [ ]:
# Bringing it all together - 2

# Complete the function header by supplying the parameter for the dataframe df and the flexible argument *args.
# Complete the for loop within the function definition so that the loop occurs over the tuple args.
# Call count_entries() by passing the tweets_df DataFrame and the column name 'lang'. Assign the result to result1.
# Call count_entries() by passing the tweets_df DataFrame and the column names 'lang' and 'source'. Assign the result to result2.

# Doesn't work as we do not have access to tweets_df
# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Call count_entries(): result2
result2 = count_entries(tweets_df, 'lang', 'source')

# Print result1 and result2
print(result1)
print(result2)

<a id='lambda_func'></a>[Go Home](#home)

In [9]:
# Lambda Functions : Quicker way to write functions on the fly

In [12]:
# Example : raise_to_power = lambda x,y : x ** y

raise_to_power = lambda x,y : x ** y

raise_to_power(2,3)

8

In [17]:
# Ananymous Functions
# map(func, seq)

nums = [1,2,3,4,5,6]
square_all = map(lambda x : x ** 2, nums)
print(square_all)

[1, 4, 9, 16, 25, 36]

In [13]:
# Define the lambda function echo_word using the variables word1 and echo. 
# Replicate what the original function definition for echo_word() does above.
# Call echo_word() with the string argument 'hey' and the value 5, in that order. Assign the call to result.

# Define echo_word as a lambda function: echo_word
echo_word = (lambda word1, echo : word1 * echo)

# Call echo_word: result
result = echo_word('hey', 5)

# Print result
print(result)

heyheyheyheyhey

<a id='map_lambda_func'></a>[Go Home](#home)

In [18]:
# Map() and lambda functions
# In the map() call, pass a lambda function that concatenates the string '!!!' to a string item; also pass the list of strings, spells. Assign the resulting map object to shout_spells.
# Convert shout_spells to a list and print out the list.

# Create a list of strings: spells
spells = ["protego", "accio", "expecto patronum", "legilimens"]

# Use map() to apply a lambda function over spells: shout_spells
shout_spells = map(lambda item : item+"!!!", spells)

# Convert shout_spells to a list: shout_spells_list
shout_spells_list = list(shout_spells)

# Convert shout_spells into a list and print it
print(shout_spells_list)

['protego!!!', 'accio!!!', 'expecto patronum!!!', 'legilimens!!!']

<a id='filter_lambda_func'></a>[Go Home](#home)

In [ ]:
# Filter() and lambda functions
# In the previous exercise, you used lambda functions to anonymously embed an operation within map(). 
# You will practice this again in this exercise by using a lambda function with filter(), which may be new to you! 
# The function filter() offers a way to filter out elements from a list that don't satisfy certain criteria.
# Your goal in this exercise is to use filter() to create, from an input list of strings, a new list that contains only strings that have more than 6 characters.

# In the filter() call, pass a lambda function and the list of strings, fellowship. The lambda function should check if the number of characters in a string member is greater than 6; 
# use the len() function to do this. Assign the resulting filter object to result.

In [1]:
# Convert result to a list and print out the list.

# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member : len(member) > 6 , fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Convert result into a list and print it
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

<a id='reduce_lambda_func'></a>[Go Home](#home)

In [ ]:
# Reduce() and lambda functions

# You're getting very good at using lambda functions! Here's one more function to add to your repertoire of skills. 
# The reduce() function is useful for performing some computation on a list and, unlike map() and filter(), returns a single value as a result. 
# To use reduce(), you must import it from the functools module.

In [3]:
# Import the reduce function from the functools module.
# In the reduce() call, pass a lambda function that takes two string arguments item1 and item2 and concatenates them; also pass the list of strings, stark. Assign the result to result. 
# The first argument to reduce() should be the lambda function and the second argument is the list stark

# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# Use reduce() to apply a lambda function over stark: result
result = reduce(lambda item1, item2 : item1+item2, stark)

# Print the result
print(result)

robbsansaaryabrandonrickon

<a id='error_handling'></a>[Go Home](#home)

In [1]:
# Error Handling

In [8]:
try :
    float('hello?')
except :
    print("It is a string")

It is a string

In [9]:
# Error Handling by try-except

# Initialize the variables echo_word and shout_words to empty strings.
# Add the keywords try and except in the appropriate locations for the exception handling block.
# Use the * operator to concatenate echo copies of word1. Assign the result to echo_word.
# Concatenate the string '!!!' to echo_word. Assign the result to shout_words

# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = ""
    shout_words = ""
    

    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = echo*word1

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word+"!!!"
    except:
        # Print error message
        print("word1 must be a string and echo must be an integer.")

    # Return shout_words
    return shout_words

# Call shout_echo
shout_echo("particle", echo="accelerator")

word1 must be a string and echo must be an integer.

''

In [12]:
# Error Handling by raise an error

# Complete the if statement by checking if the value of echo is less than 0.
# In the body of the if statement, add a raise statement that raises a ValueError with message 'echo must be greater than 0' 
# when the value supplied by the user to echo is less than 0

# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if echo<0:
        raise ValueError('echo must be greater than 0')

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo
shout_echo("particle", echo=-1)

ValueError: echo must be greater than 0

In [26]:
# Bringing it all together in data frame analyser - 1

# In the filter() call, pass a lambda function and the sequence of tweets as strings, tweets_df['text']. 
# The lambda function should check if the first 2 characters in a tweet x are 'RT'. 
# Assign the resulting filter object to result. To get the first 2 characters in a tweet x, use x[0:2]. 
# To check equality, use a Boolean filter with ==.
# Convert result to a list and print out the list.

# Select retweets from the Twitter DataFrame: result
import pandas as pd
tweets_df = pd.read_csv('./data/pandas/tweets.csv')
result = filter(lambda x : x[0:2] == 'RT', tweets_df['text'])

# Create list from filter object result: res_list
res_list = list(result)

# Print all retweets in res_list
for tweet in res_list:
    print(tweet)

RT @bpolitics: .@krollbondrating's Christopher Whalen says Clinton is the weakest Dem candidate in 50 years https://t.co/pLk7rvoRSn https:/
RT @HeidiAlpine: @dmartosko Cruz video found.....racing from the scene.... #cruzsexscandal https://t.co/zuAPZfQDk3
RT @AlanLohner: The anti-American D.C. elites despise Trump for his America-first foreign policy. Trump threatens their gravy train. https:
RT @BIackPplTweets: Young Donald trump meets his neighbor  https://t.co/RFlu17Z1eE
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @HouseCracka: 29,000+ PEOPLE WATCHING TRUMP LIVE ON ONE STREAM!!!

https://t.co/7QCFz9ehNe
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N
RT @Norsu2: Nightmare WI poll for Ted Cruz has Kasich surging: Trump 29, Kasich 27, Cruz 25. https://t.co/lJsgbLYY1P #NeverTrump
RT @thehill: WATCH: Protester pepper-sprayed point blank at Trump rally https://t.co/B5f65Al9ld https://t.co/skAfByXuQc
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/
RT @DebbieStout5: Wow! Last I checked it was just 12 points &amp; that wasn't more than a day ago. Oh boy Trump ppl might want to rethink http
RT @tyleroakley: i'm a messy bitch, but at least i'm not voting for trump
RT @vandives: Trump supporters r tired of justice NOT being served. There's no justice anymore. Hardworking Americans get screwed. That's n
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didnt come out of nowhere." Hillary
https
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didnt come out of nowhere." Hillary
https
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t
RT @GlendaJazzey: Donald Trumps Campaign Financing Dodge, @rrotunda https://t.co/L8flI4lswG via @VerdictJustia
RT @TUSK81: LOUDER FOR THE PEOPLE IN THE BACK https://t.co/hlPVyNLXzx
RT @loopzoop: Well...put it back https://t.co/8Yb7BDT5VM
RT @claytoncubitt: Stop asking Bernie supporters if theyll vote for Hillary against Trump. We got a plan to beat Trump already. Called Ber
RT @akaMaude13: Seriously can't make this up. What a joke. #NeverTrump  https://t.co/JkTx6mdRgC

In [22]:
# Bringing it all together in data frame analyser - 2

# Add a try block so that when the function is called with the correct arguments, it processes the DataFrame and returns a dictionary of results.
# Add an except block so that when the function is called incorrectly, it displays the following error message: 'The DataFrame does not have a ' + col_name + ' column.'

# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Add try block
    try:
        # Extract column from DataFrame: col
        col = df[col_name]
        
        # Iterate over the column in dataframe
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1
    
        # Return the cols_count dictionary
        return cols_count

    # Add except block
    except:
        print('The DataFrame does not have a '+col_name+' column')
import pandas as pd
tweets_df = pd.read_csv('./data/pandas/tweets.csv')

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Print result1
print(result1)

{'et': 1, 'en': 97, 'und': 2}

In [25]:
# Bringing it all together in data frame analyser - 3

# If col_name is not a column in the DataFrame df,raise a ValueError 'The DataFrame does not have a ' + col_name + ' column.'
# Call your new function count_entries() to analyze the 'lang' column of tweets_df. Store the result in result1.
# Print result1. This has been done for you, so hit 'Submit Answer' to check out the result. 
# In the next exercise, you'll see that it raises the necessary ValueErrors

# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Raise a ValueError if col_name is NOT in DataFrame
    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')

    # Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1
        
        # Return the cols_count dictionary
    return cols_count



import pandas as pd
tweets_df = pd.read_csv('./data/pandas/tweets.csv')

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Print result1
print(result1)

{'et': 1, 'en': 97, 'und': 2}

<a id='iterators'></a>[Go Home](#home)

In [2]:
# Iterators : are nothing but looping using a different format
# List, String, Dictionaries, File Connections are all Iterables
# They have an associated iter() method
# Applying iter() to an iterable creates an iterator
# An iterator produces next value with next()

In [6]:
word = 'Srinivas'

it = iter(word)

print(*it)

SyntaxError: invalid syntax (<ipython-input-6-c910062fc21c>, line 5)

In [9]:
# Iterating over iterables - 1

# Create a for loop to loop over flash and print the values in the list. Use person as the loop variable.
# Create an iterator for the list flash and assign the result to superspeed.
# Print each of the items from superspeed using next() 4 times.

# Create a list of strings: flash
flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

# Print each list item in flash using a for loop
for x in flash:
    print(x)

# Create an iterator for flash: superspeed
superspeed = iter(flash)

# Print each item from the iterator
print(next(superspeed))
print(next(superspeed))
print(next(superspeed))
print(next(superspeed))

jay garrick
barry allen
wally west
bart allen
jay garrick
barry allen
wally west
bart allen

In [11]:
# Iterating over iterables - 2

# Create an iterator object small_value over range(3) using the function iter().
# Using a for loop, iterate over range(3), printing the value for every iteration. Use num as the loop variable.
# Create an iterator object googol over range(10 ** 100)

# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values
for i in range(3):
    print(i)

# Create an iterator for range(10 ** 100): googol
googol = iter(range(10**2))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
0
1
2
0
1
2
3
4

In [14]:
# Iterators as function arguments

# Create a range object that would produce the values from 10 to 20 using range(). Assign the result to values.
# Use the list() function to create a list of values from the range object values. Assign the result to values_list.
# Use the sum() function to get the sum of the values from 10 to 20 from the range object values. Assign the result to values_sum

# Create a range object: values
values = range(10,21)

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
165

<a id='enumerate'></a>[Go Home](#home)

In [22]:
# enumerate() object
# takes iterable as argument and returns a special enumerate object
# this enumerate object contains tuples of the index, value of all the iterable members

data = ['samuel', 'raj sekhar', 'sastry']
e = enumerate(data)
e_list = list(e)
print(e_list)

for index, value in enumerate(data):
    print(index, value)
print("---------------------------------------------")
# this indexing starts at 0, we can alter it using start keyword and the number wher eit has to start

for index, value in enumerate(data, start = 1):
    print(index, value)

[(0, 'samuel'), (1, 'raj sekhar'), (2, 'sastry')]
(0, 'samuel')
(1, 'raj sekhar')
(2, 'sastry')
---------------------------------------------
(1, 'samuel')
(2, 'raj sekhar')
(3, 'sastry')

In [27]:
# Using enumerate

# Create a list of tuples from mutants and assign the result to mutant_list. 
# Make sure you generate the tuples using enumerate() and turn the result from it into a list using list().
# Complete the first for loop by unpacking the tuples generated by calling enumerate() on mutants. 
# Use index1 for the index and value1 for the value when unpacking the tuple.
# Complete the second for loop similarly as with the first, but this time change the starting index to start from 1 by passing it in as an argument to the start parameter of enumerate(). 
# Use index2 for the index and value2 for the value when unpacking the tuple

# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

# Unpack and print the tuple pairs
for index1, value1 in enumerate(mutants):
    print(index1, value1)

# Change the start index
for index2, value2 in enumerate(mutants, start = 1):
    print(index2, value2)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]
(0, 'charles xavier')
(1, 'bobby drake')
(2, 'kurt wagner')
(3, 'max eisenhardt')
(4, 'kitty pryde')
(1, 'charles xavier')
(2, 'bobby drake')
(3, 'kurt wagner')
(4, 'max eisenhardt')
(5, 'kitty pryde')

<a id='zip'></a>[Go Home](#home)

In [26]:
# zip() object
# takes tow iterables of same type and gives us a zip type which contains tuples of the elements of both the iterables

da1 = ['a', 'b', 'c']
da2 = ['d', 'e', 'f']

z = zip(da1, da2)

z_list = list(z)
print(z_list)

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [29]:
# Using zip

# Using zip() with list(), create a list of tuples from the three lists mutants, aliases, and powers (in that order) and assign the result to mutant_data.
# Using zip(), create a zip object called mutant_zip from the three lists mutants, aliases, and powers.
# Complete the for loop by unpacking the zip object you created and printing the tuple values. 
# Use value1, value2, value3 for the values from each of mutants, aliases, and powers, in that order.

mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']
aliases = ['prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat']
powers = mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']


# Create a list of tuples: mutant_data
mutant_data = list(zip(mutants, aliases, powers))

# Print the list of tuples
print(mutant_data)

# Create a zip object using the three lists: mutant_zip
mutant_zip = zip(mutants, aliases, powers)

# Print the zip object
print(mutant_zip)

# Unpack the zip object and print the tuple values
for value1, value2, value3 in mutant_zip:
    print(value1, value2, value3)

[('charles xavier', 'prof x', 'charles xavier'), ('bobby drake', 'iceman', 'bobby drake'), ('kurt wagner', 'nightcrawler', 'kurt wagner'), ('max eisenhardt', 'magneto', 'max eisenhardt'), ('kitty pryde', 'shadowcat', 'kitty pryde')]
[('charles xavier', 'prof x', 'charles xavier'), ('bobby drake', 'iceman', 'bobby drake'), ('kurt wagner', 'nightcrawler', 'kurt wagner'), ('max eisenhardt', 'magneto', 'max eisenhardt'), ('kitty pryde', 'shadowcat', 'kitty pryde')]
('charles xavier', 'prof x', 'charles xavier')
('bobby drake', 'iceman', 'bobby drake')
('kurt wagner', 'nightcrawler', 'kurt wagner')
('max eisenhardt', 'magneto', 'max eisenhardt')
('kitty pryde', 'shadowcat', 'kitty pryde')

In [31]:
# Using * and zip to 'unzip'

# Create a zip object by using zip() on mutants and powers, in that order. Assign the result to z1.
# Print the tuples in z1 by unpacking them into positional arguments using the * operator in a print() call.
# Because the previous print() call would have exhausted the elements in z1, recreate the zip object you defined earlier and assign the result again to z1.
# 'Unzip' the tuples in z1 by unpacking them into positional arguments using the * operator in a zip() call. 
# Assign the results to result1 and result2, in that order.
# The last print() statements prints the output of comparing result1 to mutants and result2 to powers. 
# Click Submit Answer to see if the unpacked result1 and result2 are equivalent to mutants and powers, respectively.

mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']
aliases = ['prof x', 'iceman', 'nightcrawler', 'magneto', 'shadowcat']
powers = mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# Print the tuples in z1 by unpacking with *
print(*z1)

# Re-create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)

# Check if unpacked tuples are equivalent to original tuples
print(result1 == mutants)
print(result2 == powers)

SyntaxError: invalid syntax (<ipython-input-31-dd28d630a5fb>, line 27)

<a id='load_large_files'></a>[Go Home](#home)

In [52]:
# Using itertators to load large files into memory

import pandas as pd
result = []
for chunk in pd.read_csv('./data/pandas/world_bank_data.csv', chunksize = 10):
       result.append(chunk['Year'])

print(result)
print(len(result))

[0    1960
1    1960
2    1960
3    1960
4    1960
5    1960
6    1960
7    1960
8    1960
9    1960
Name: Year, dtype: int64, 10    1960
11    1960
12    1960
13    1960
14    1960
15    1960
16    1960
17    1960
18    1960
19    1960
Name: Year, dtype: int64, 20    1960
21    1960
22    1960
23    1960
24    1960
25    1960
26    1960
27    1960
28    1960
29    1960
Name: Year, dtype: int64, 30    1960
31    1960
32    1960
33    1960
34    1960
35    1960
36    1960
37    1960
38    1960
39    1960
Name: Year, dtype: int64, 40    1960
41    1960
42    1960
43    1960
44    1960
45    1960
46    1960
47    1960
48    1960
49    1960
Name: Year, dtype: int64, 50    1960
51    1960
52    1960
53    1960
54    1960
55    1960
56    1960
57    1960
58    1960
59    1960
Name: Year, dtype: int64, 60    1960
61    1960
62    1960
63    1960
64    1960
65    1960
66    1960
67    1960
68    1960
69    1960
Name: Year, dtype: int64, 70    1960
71    1960
72    1960
73    1960
74    1960
75    1960
76    1960
77    1960
78    1960
79    1960
Name: Year, dtype: int64, 80    1960
81    1960
82    1960
83    1960
84    1960
85    1960
86    1960
87    1960
88    1960
89    1960
Name: Year, dtype: int64, 90    1960
91    1960
92    1960
93    1960
94    1960
95    1960
96    1960
97    1960
98    1960
99    1960
Name: Year, dtype: int64, 100    1960
101    1960
102    1960
103    1960
104    1960
105    1960
106    1960
107    1960
108    1960
109    1960
Name: Year, dtype: int64, 110    1960
111    1960
112    1960
113    1960
114    1960
115    1960
116    1960
117    1960
118    1960
119    1960
Name: Year, dtype: int64, 120    1960
121    1960
122    1960
123    1960
124    1960
125    1960
126    1960
127    1960
128    1960
129    1960
Name: Year, dtype: int64, 130    1960
131    1960
132    1960
133    1960
134    1960
135    1960
136    1960
137    1960
138    1960
139    1960
Name: Year, dtype: int64, 140    1960
141    1960
142    1960
143    1960
144    1960
145    1960
146    1960
147    1960
148    1960
149    1960
Name: Year, dtype: int64, 150    1960
151    1960
152    1960
153    1960
154    1960
155    1960
156    1960
157    1960
158    1960
159    1960
Name: Year, dtype: int64, 160    1960
161    1960
162    1960
163    1960
164    1960
165    1960
166    1960
167    1960
168    1960
169    1960
Name: Year, dtype: int64, 170    1960
171    1960
172    1960
173    1960
174    1960
175    1960
176    1960
177    1960
178    1960
179    1960
Name: Year, dtype: int64, 180    1960
181    1960
182    1960
183    1960
184    1960
185    1960
186    1960
187    1960
188    1960
189    1960
Name: Year, dtype: int64, 190    1960
191    1960
192    1960
193    1960
194    1960
195    1960
196    1960
197    1960
198    1960
199    1960
Name: Year, dtype: int64, 200    1960
201    1960
202    1960
203    1960
204    1960
205    1960
206    1960
207    1960
208    1960
209    1960
Name: Year, dtype: int64, 210    1960
211    1960
212    1960
213    1960
214    1960
215    1960
216    1960
217    1960
218    1960
219    1960
Name: Year, dtype: int64, 220    1960
221    1960
222    1960
223    1960
224    1960
225    1960
226    1960
227    1960
228    1960
229    1960
Name: Year, dtype: int64, 230    1960
231    1960
232    1960
233    1960
234    1960
235    1960
236    1960
237    1960
238    1960
239    1960
Name: Year, dtype: int64, 240    1960
241    1960
242    1961
243    1961
244    1961
245    1961
246    1961
247    1961
248    1961
249    1961
Name: Year, dtype: int64, 250    1961
251    1961
252    1961
253    1961
254    1961
255    1961
256    1961
257    1961
258    1961
259    1961
Name: Year, dtype: int64, 260    1961
261    1961
262    1961
263    1961
264    1961
265    1961
266    1961
267    1961
268    1961
269    1961
Name: Year, dtype: int64, 270    1961
271    1961
272    1961
273    1961
274    1961
275    1961
276    1961
277    1961
278    1961
279    1961
Name: Year, dtype: int64, 280    1961
281    1961
282    1961
283    1961
284    1961
285    1961
286    1961
287    1961
288    1961
289    1961
Name: Year, dtype: int64, 290    1961
291    1961
292    1961
293    1961
294    1961
295    1961
296    1961
297    1961
298    1961
299    1961
Name: Year, dtype: int64, 300    1961
301    1961
302    1961
303    1961
304    1961
305    1961
306    1961
307    1961
308    1961
309    1961
Name: Year, dtype: int64, 310    1961
311    1961
312    1961
313    1961
314    1961
315    1961
316    1961
317    1961
318    1961
319    1961
Name: Year, dtype: int64, 320    1961
321    1961
322    1961
323    1961
324    1961
325    1961
326    1961
327    1961
328    1961
329    1961
Name: Year, dtype: int64, 330    1961
331    1961
332    1961
333    1961
334    1961
335    1961
336    1961
337    1961
338    1961
339    1961
Name: Year, dtype: int64, 340    1961
341    1961
342    1961
343    1961
344    1961
345    1961
346    1961
347    1961
348    1961
349    1961
Name: Year, dtype: int64, 350    1961
351    1961
352    1961
353    1961
354    1961
355    1961
356    1961
357    1961
358    1961
359    1961
Name: Year, dtype: int64, 360    1961
361    1961
362    1961
363    1961
364    1961
365    1961
366    1961
367    1961
368    1961
369    1961
Name: Year, dtype: int64, 370    1961
371    1961
372    1961
373    1961
374    1961
375    1961
376    1961
377    1961
378    1961
379    1961
Name: Year, dtype: int64, 380    1961
381    1961
382    1961
383    1961
384    1961
385    1961
386    1961
387    1961
388    1961
389    1961
Name: Year, dtype: int64, 390    1961
391    1961
392    1961
393    1961
394    1961
395    1961
396    1961
397    1961
398    1961
399    1961
Name: Year, dtype: int64, 400    1961
401    1961
402    1961
403    1961
404    1961
405    1961
406    1961
407    1961
408    1961
409    1961
Name: Year, dtype: int64, 410    1961
411    1961
412    1961
413    1961
414    1961
415    1961
416    1961
417    1961
418    1961
419    1961
Name: Year, dtype: int64, 420    1961
421    1961
422    1961
423    1961
424    1961
425    1961
426    1961
427    1961
428    1961
429    1961
Name: Year, dtype: int64, 430    1961
431    1961
432    1961
433    1961
434    1961
435    1961
436    1961
437    1961
438    1961
439    1961
Name: Year, dtype: int64, 440    1961
441    1961
442    1961
443    1961
444    1961
445    1961
446    1961
447    1961
448    1961
449    1961
Name: Year, dtype: int64, 450    1961
451    1961
452    1961
453    1961
454    1961
455    1961
456    1961
457    1961
458    1961
459    1961
Name: Year, dtype: int64, 460    1961
461    1961
462    1961
463    1961
464    1961
465    1961
466    1961
467    1961
468    1961
469    1961
Name: Year, dtype: int64, 470    1961
471    1961
472    1961
473    1961
474    1961
475    1961
476    1961
477    1961
478    1961
479    1961
Name: Year, dtype: int64, 480    1961
481    1961
482    1961
483    1961
484    1962
485    1962
486    1962
487    1962
488    1962
489    1962
Name: Year, dtype: int64, 490    1962
491    1962
492    1962
493    1962
494    1962
495    1962
496    1962
497    1962
498    1962
499    1962
Name: Year, dtype: int64, 500    1962
501    1962
502    1962
503    1962
504    1962
505    1962
506    1962
507    1962
508    1962
509    1962
Name: Year, dtype: int64, 510    1962
511    1962
512    1962
513    1962
514    1962
515    1962
516    1962
517    1962
518    1962
519    1962
Name: Year, dtype: int64, 520    1962
521    1962
522    1962
523    1962
524    1962
525    1962
526    1962
527    1962
528    1962
529    1962
Name: Year, dtype: int64, 530    1962
531    1962
532    1962
533    1962
534    1962
535    1962
536    1962
537    1962
538    1962
539    1962
Name: Year, dtype: int64, 540    1962
541    1962
542    1962
543    1962
544    1962
545    1962
546    1962
547    1962
548    1962
549    1962
Name: Year, dtype: int64, 550    1962
551    1962
552    1962
553    1962
554    1962
555    1962
556    1962
557    1962
558    1962
559    1962
Name: Year, dtype: int64, 560    1962
561    1962
562    1962
563    1962
564    1962
565    1962
566    1962
567    1962
568    1962
569    1962
Name: Year, dtype: int64, 570    1962
571    1962
572    1962
573    1962
574    1962
575    1962
576    1962
577    1962
578    1962
579    1962
Name: Year, dtype: int64, 580    1962
581    1962
582    1962
583    1962
584    1962
585    1962
586    1962
587    1962
588    1962
589    1962
Name: Year, dtype: int64, 590    1962
591    1962
592    1962
593    1962
594    1962
595    1962
596    1962
597    1962
598    1962
599    1962
Name: Year, dtype: int64, 600    1962
601    1962
602    1962
603    1962
604    1962
605    1962
606    1962
607    1962
608    1962
609    1962
Name: Year, dtype: int64, 610    1962
611    1962
612    1962
613    1962
614    1962
615    1962
616    1962
617    1962
618    1962
619    1962
Name: Year, dtype: int64, 620    1962
621    1962
622    1962
623    1962
624    1962
625    1962
626    1962
627    1962
628    1962
629    1962
Name: Year, dtype: int64, 630    1962
631    1962
632    1962
633    1962
634    1962
635    1962
636    1962
637    1962
638    1962
639    1962
Name: Year, dtype: int64, 640    1962
641    1962
642    1962
643    1962
644    1962
645    1962
646    1962
647    1962
648    1962
649    1962
Name: Year, dtype: int64, 650    1962
651    1962
652    1962
653    1962
654    1962
655    1962
656    1962
657    1962
658    1962
659    1962
Name: Year, dtype: int64, 660    1962
661    1962
662    1962
663    1962
664    1962
665    1962
666    1962
667    1962
668    1962
669    1962
Name: Year, dtype: int64, 670    1962
671    1962
672    1962
673    1962
674    1962
675    1962
676    1962
677    1962
678    1962
679    1962
Name: Year, dtype: int64, 680    1962
681    1962
682    1962
683    1962
684    1962
685    1962
686    1962
687    1962
688    1962
689    1962
Name: Year, dtype: int64, 690    1962
691    1962
692    1962
693    1962
694    1962
695    1962
696    1962
697    1962
698    1962
699    1962
Name: Year, dtype: int64, 700    1962
701    1962
702    1962
703    1962
704    1962
705    1962
706    1962
707    1962
708    1962
709    1962
Name: Year, dtype: int64, 710    1962
711    1962
712    1962
713    1962
714    1962
715    1962
716    1962
717    1962
718    1962
719    1962
Name: Year, dtype: int64, 720    1962
721    1962
722    1962
723    1962
724    1962
725    1962
726    1963
727    1963
728    1963
729    1963
Name: Year, dtype: int64, 730    1963
731    1963
732    1963
733    1963
734    1963
735    1963
736    1963
737    1963
738    1963
739    1963
Name: Year, dtype: int64, 740    1963
741    1963
742    1963
743    1963
744    1963
745    1963
746    1963
747    1963
748    1963
749    1963
Name: Year, dtype: int64, 750    1963
751    1963
752    1963
753    1963
754    1963
755    1963
756    1963
757    1963
758    1963
759    1963
Name: Year, dtype: int64, 760    1963
761    1963
762    1963
763    1963
764    1963
765    1963
766    1963
767    1963
768    1963
769    1963
Name: Year, dtype: int64, 770    1963
771    1963
772    1963
773    1963
774    1963
775    1963
776    1963
777    1963
778    1963
779    1963
Name: Year, dtype: int64, 780    1963
781    1963
782    1963
783    1963
784    1963
785    1963
786    1963
787    1963
788    1963
789    1963
Name: Year, dtype: int64, 790    1963
791    1963
792    1963
793    1963
794    1963
795    1963
796    1963
797    1963
798    1963
799    1963
Name: Year, dtype: int64, 800    1963
801    1963
802    1963
803    1963
804    1963
805    1963
806    1963
807    1963
808    1963
809    1963
Name: Year, dtype: int64, 810    1963
811    1963
812    1963
813    1963
814    1963
815    1963
816    1963
817    1963
818    1963
819    1963
Name: Year, dtype: int64, 820    1963
821    1963
822    1963
823    1963
824    1963
825    1963
826    1963
827    1963
828    1963
829    1963
Name: Year, dtype: int64, 830    1963
831    1963
832    1963
833    1963
834    1963
835    1963
836    1963
837    1963
838    1963
839    1963
Name: Year, dtype: int64, 840    1963
841    1963
842    1963
843    1963
844    1963
845    1963
846    1963
847    1963
848    1963
849    1963
Name: Year, dtype: int64, 850    1963
851    1963
852    1963
853    1963
854    1963
855    1963
856    1963
857    1963
858    1963
859    1963
Name: Year, dtype: int64, 860    1963
861    1963
862    1963
863    1963
864    1963
865    1963
866    1963
867    1963
868    1963
869    1963
Name: Year, dtype: int64, 870    1963
871    1963
872    1963
873    1963
874    1963
875    1963
876    1963
877    1963
878    1963
879    1963
Name: Year, dtype: int64, 880    1963
881    1963
882    1963
883    1963
884    1963
885    1963
886    1963
887    1963
888    1963
889    1963
Name: Year, dtype: int64, 890    1963
891    1963
892    1963
893    1963
894    1963
895    1963
896    1963
897    1963
898    1963
899    1963
Name: Year, dtype: int64, 900    1963
901    1963
902    1963
903    1963
904    1963
905    1963
906    1963
907    1963
908    1963
909    1963
Name: Year, dtype: int64, 910    1963
911    1963
912    1963
913    1963
914    1963
915    1963
916    1963
917    1963
918    1963
919    1963
Name: Year, dtype: int64, 920    1963
921    1963
922    1963
923    1963
924    1963
925    1963
926    1963
927    1963
928    1963
929    1963
Name: Year, dtype: int64, 930    1963
931    1963
932    1963
933    1963
934    1963
935    1963
936    1963
937    1963
938    1963
939    1963
Name: Year, dtype: int64, 940    1963
941    1963
942    1963
943    1963
944    1963
945    1963
946    1963
947    1963
948    1963
949    1963
Name: Year, dtype: int64, 950    1963
951    1963
952    1963
953    1963
954    1963
955    1963
956    1963
957    1963
958    1963
959    1963
Name: Year, dtype: int64, 960    1963
961    1963
962    1963
963    1963
964    1963
965    1963
966    1963
967    1963
968    1964
969    1964
Name: Year, dtype: int64, 970    1964
971    1964
972    1964
973    1964
974    1964
975    1964
976    1964
977    1964
978    1964
979    1964
Name: Year, dtype: int64, 980    1964
981    1964
982    1964
983    1964
984    1964
985    1964
986    1964
987    1964
988    1964
989    1964
Name: Year, dtype: int64, 990    1964
991    1964
992    1964
993    1964
994    1964
995    1964
996    1964
997    1964
998    1964
999    1964
Name: Year, dtype: int64, 1000    1964
1001    1964
1002    1964
1003    1964
1004    1964
1005    1964
1006    1964
1007    1964
1008    1964
1009    1964
Name: Year, dtype: int64, 1010    1964
1011    1964
1012    1964
1013    1964
1014    1964
1015    1964
1016    1964
1017    1964
1018    1964
1019    1964
Name: Year, dtype: int64, 1020    1964
1021    1964
1022    1964
1023    1964
1024    1964
1025    1964
1026    1964
1027    1964
1028    1964
1029    1964
Name: Year, dtype: int64, 1030    1964
1031    1964
1032    1964
1033    1964
1034    1964
1035    1964
1036    1964
1037    1964
1038    1964
1039    1964
Name: Year, dtype: int64, 1040    1964
1041    1964
1042    1964
1043    1964
1044    1964
1045    1964
1046    1964
1047    1964
1048    1964
1049    1964
Name: Year, dtype: int64, 1050    1964
1051    1964
1052    1964
1053    1964
1054    1964
1055    1964
1056    1964
1057    1964
1058    1964
1059    1964
Name: Year, dtype: int64, 1060    1964
1061    1964
1062    1964
1063    1964
1064    1964
1065    1964
1066    1964
1067    1964
1068    1964
1069    1964
Name: Year, dtype: int64, 1070    1964
1071    1964
1072    1964
1073    1964
1074    1964
1075    1964
1076    1964
1077    1964
1078    1964
1079    1964
Name: Year, dtype: int64, 1080    1964
1081    1964
1082    1964
1083    1964
1084    1964
1085    1964
1086    1964
1087    1964
1088    1964
1089    1964
Name: Year, dtype: int64, 1090    1964
1091    1964
1092    1964
1093    1964
1094    1964
1095    1964
1096    1964
1097    1964
1098    1964
1099    1964
Name: Year, dtype: int64, 1100    1964
1101    1964
1102    1964
1103    1964
1104    1964
1105    1964
1106    1964
1107    1964
1108    1964
1109    1964
Name: Year, dtype: int64, 1110    1964
1111    1964
1112    1964
1113    1964
1114    1964
1115    1964
1116    1964
1117    1964
1118    1964
1119    1964
Name: Year, dtype: int64, 1120    1964
1121    1964
1122    1964
1123    1964
1124    1964
1125    1964
1126    1964
1127    1964
1128    1964
1129    1964
Name: Year, dtype: int64, 1130    1964
1131    1964
1132    1964
1133    1964
1134    1964
1135    1964
1136    1964
1137    1964
1138    1964
1139    1964
Name: Year, dtype: int64, 1140    1964
1141    1964
1142    1964
1143    1964
1144    1964
1145    1964
1146    1964
1147    1964
1148    1964
1149    1964
Name: Year, dtype: int64, 1150    1964
1151    1964
1152    1964
1153    1964
1154    1964
1155    1964
1156    1964
1157    1964
1158    1964
1159    1964
Name: Year, dtype: int64, 1160    1964
1161    1964
1162    1964
1163    1964
1164    1964
1165    1964
1166    1964
1167    1964
1168    1964
1169    1964
Name: Year, dtype: int64, 1170    1964
1171    1964
1172    1964
1173    1964
1174    1964
1175    1964
1176    1964
1177    1964
1178    1964
1179    1964
Name: Year, dtype: int64, 1180    1964
1181    1964
1182    1964
1183    1964
1184    1964
1185    1964
1186    1964
1187    1964
1188    1964
1189    1964
Name: Year, dtype: int64, 1190    1964
1191    1964
1192    1964
1193    1964
1194    1964
1195    1964
1196    1964
1197    1964
1198    1964
1199    1964
Name: Year, dtype: int64, 1200    1964
1201    1964
1202    1964
1203    1964
1204    1964
1205    1964
1206    1964
1207    1964
1208    1964
1209    1964
Name: Year, dtype: int64, 1210    1965
1211    1965
1212    1965
1213    1965
1214    1965
1215    1965
1216    1965
1217    1965
1218    1965
1219    1965
Name: Year, dtype: int64, 1220    1965
1221    1965
1222    1965
1223    1965
1224    1965
1225    1965
1226    1965
1227    1965
1228    1965
1229    1965
Name: Year, dtype: int64, 1230    1965
1231    1965
1232    1965
1233    1965
1234    1965
1235    1965
1236    1965
1237    1965
1238    1965
1239    1965
Name: Year, dtype: int64, 1240    1965
1241    1965
1242    1965
1243    1965
1244    1965
1245    1965
1246    1965
1247    1965
1248    1965
1249    1965
Name: Year, dtype: int64, 1250    1965
1251    1965
1252    1965
1253    1965
1254    1965
1255    1965
1256    1965
1257    1965
1258    1965
1259    1965
Name: Year, dtype: int64, 1260    1965
1261    1965
1262    1965
1263    1965
1264    1965
1265    1965
1266    1965
1267    1965
1268    1965
1269    1965
Name: Year, dtype: int64, 1270    1965
1271    1965
1272    1965
1273    1965
1274    1965
1275    1965
1276    1965
1277    1965
1278    1965
1279    1965
Name: Year, dtype: int64, 1280    1965
1281    1965
1282    1965
1283    1965
1284    1965
1285    1965
1286    1965
1287    1965
1288    1965
1289    1965
Name: Year, dtype: int64, 1290    1965
1291    1965
1292    1965
1293    1965
1294    1965
1295    1965
1296    1965
1297    1965
1298    1965
1299    1965
Name: Year, dtype: int64, 1300    1965
1301    1965
1302    1965
1303    1965
1304    1965
1305    1965
1306    1965
1307    1965
1308    1965
1309    1965
Name: Year, dtype: int64, 1310    1965
1311    1965
1312    1965
1313    1965
1314    1965
1315    1965
1316    1965
1317    1965
1318    1965
1319    1965
Name: Year, dtype: int64, 1320    1965
1321    1965
1322    1965
1323    1965
1324    1965
1325    1965
1326    1965
1327    1965
1328    1965
1329    1965
Name: Year, dtype: int64, 1330    1965
1331    1965
1332    1965
1333    1965
1334    1965
1335    1965
1336    1965
1337    1965
1338    1965
1339    1965
Name: Year, dtype: int64, 1340    1965
1341    1965
1342    1965
1343    1965
1344    1965
1345    1965
1346    1965
1347    1965
1348    1965
1349    1965
Name: Year, dtype: int64, 1350    1965
1351    1965
1352    1965

In [55]:
# Processing large amounts of Twitter data

# Initialize an empty dictionary counts_dict for storing the results of processing the Twitter data.
# Iterate over the 'tweets.csv' file by using a for loop. 
# Use the loop variable chunk and iterate over the call to pd.read_csv() with a chunksize of 10.
# In the inner loop, iterate over the column 'lang' in chunk by using a for loop. Use the loop variable entry.

# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv('./data/pandas/tweets.csv', chunksize = 10):

    # Iterate over the column in DataFrame
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

{'et': 1, 'en': 97, 'und': 2}

In [57]:
# Extracting information for large amounts of Twitter data

# Define the function count_entries(), which has 3 parameters. 
# The first parameter is csv_file for the filename, the second is c_size for the chunk size, and the last is colname for the column name.
# Iterate over the file in csv_file file by using a for loop. Use the loop variable chunk and iterate over the call to pd.read_csv(), passing c_size to chunksize.
# In the inner loop, iterate over the column given by colname in chunk by using a for loop. Use the loop variable entry.
# Call the count_entries() function by passing to it the filename 'tweets.csv', the size of chunks 10, and the name of the column to count, 'lang'. 
# Assign the result of the call to the variable result_counts

# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize = c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries('./data/pandas/tweets.csv', 10, 'lang')

# Print result_counts
print(result_counts)

{'et': 1, 'en': 97, 'und': 2}